[2014-11-22 16:35] gitblit opened #4 "Webjars support"
Managing browser resources is a pain. Webjars makes this much less painful. Pippo would benefit from a webjars routehandler.

[2014-11-22 16:37] gitblit opened #5 "Automatic etags stamping"
Pippo should automatically handle stamping served resources with etags in PROD mode. Take a peek at how Ninja does this.

[2014-11-22 16:39] gitblit opened #6 "Add support for PATCH http method"
Http is flexible and allows you to define your own verbs. Having said that, PATCH is a somewhat commonly used method for updating selected fields within an entity rather than inserting or replacing an entity.

[2014-11-22 16:43] gitblit opened #7 "Client Locale for Template Engine"
The browser often reports a locale.  Template engines need this for localized page generation.

[2014-11-22 16:45] gitblit opened #8 "Messages handling"
Localized template engines should have a reference to a messages class for loading language resources. See Ninja.

[2014-11-22 16:50] gitblit opened #9 "Consider fastjson"
I haven't used it much but fastjson claims to be, well, fast.  It is also smaller than gson.  I'm still a gson fan, but it's good to be open-minded.

[2014-11-23 23:20] gitblit opened #12 "Consistent project code formatting"
The project needs a formatter definition shared in the repo root for line endings, imports ordering, trailing whitespace, etc.  I'm running Eclipse, not sure what you are using these days.  Once you've established a style you are happy with we should re-format all files and add a .gitattributes file to help ensure the files are checked-out/in as intended.

BTW, your source headers are formatted od

[2014-11-24 09:23] #6 closed, assigned to nobody

[2014-11-24 13:24] gitblit opened #14 "Standard library?"
I'm trying to reconcile the design goal of minimal dependencies with not having to re-invent utility functions, etc.  Having been far down the road of writing and unit testing my own utility functions I no longer think that is a good approach just to keep a core small.  It ends up costing you more than you initially save.

I think that Guava brings some good stuff to the table, but it also adds 2

[2014-11-24 14:49] #14 closed, assigned to nobody

[2014-11-25 23:09] #9 closed, assigned to nobody

[2014-11-27 13:40] #8 closed, assigned to nobody

[2014-12-01 22:40] #4 closed, assigned to nobody

[2014-12-01 22:40] #5 closed, assigned to nobody

[2014-12-02 17:20] gitblit opened #25 "Template engines need a way to generate context-aware app URLs"
We need to be able to generate context-aware urls from within a template.  I'm not a big fan of the `urlFor(Class, "method")` or `urlFor(String, Map)` methods because they encourage repeated fragile coding.  The are necessary methods, however, to build upon for what I am proposing.

I think the best approach is to implement a per-engine mechanism to register custom helper functions.  This would st

[2014-12-05 15:44] #7 closed, assigned to gitblit

[2014-12-15 21:31] decebals opened #34 "Feedback/Flash messages"
Feedback/Flash messages are only available to the next request.

[2014-12-15 21:35] decebals opened #35 "Ajax"
Add support for Ajax requests

[2014-12-17 00:00] decebals opened #39 "Metrics doesn't work for controllers"

[2014-12-18 18:10] #39 closed, assigned to nobody

[2014-12-18 18:13] decebals opened #40 "Update readme with last changes (Router, ErrorHandler, ContentTypeEngine)"

[2014-12-29 21:14] gitblit opened #49 "Consider eliminating WebServerSettings.externalStaticFilesLocation"
With the inclusion of the classpath resource handlers I don't think there is much value in this anymore.

Those who wish to serve external files are likely to want some type of security controls which this mechanism does not support.  I think it makes sense to remove it.

[2014-12-29 21:20] gitblit opened #50 "Decide if Pippo apps can be distributed as a WAR"
I'm on the fence on this issue.  Supporting inconsistencies with other containers is always a nuisance.  Having a single deployable product that behaves in production exactly as in development is pretty handy.

The biggest thing we lose is container authentication - but I have always implemented my own anyway.

Either way we need to decide if Pippo apps require their own dedicated container or if

[2014-12-29 22:09] #25 closed, assigned to gitblit

[2014-12-31 00:49] #49 closed, assigned to nobody

[2015-01-06 07:00] decebals commented on #50
I made a test to see if I can run pippo-demo as a WAR using an external container (jetty). I can say that everything is OK.

Steps
- uncomment some lines in `pippo-demo/pom.xml`
[code]
because I don't want pippo-jetty module in my war
[code]
because I want to use `jetty-maven-plugin` to start an external jetty container
- uncomment some lines in `web.xml` from pippo-demo
[code]
if you want to run

[2015-01-11 22:16] gitblit commented on #50
Great.  Decision made.

[2015-01-11 22:16] #50 closed

[2015-01-12 19:15] gitblit opened #66 "Rethink Response.commit()"
In `Response.commit()` we are flushing the buffer which forces *chunked transfer encoding* and finalizes the servlet response.

It feels wrong that we are doing this.  I can't point to documentation that says this is a problem, but I can look at other frameworks and see they do not flush anything and thus do not force chunked encoding.

I think we need to consider some alternative (internal) mecha

[2015-01-12 21:28] gitblit commented on #66
Hmm.  Maybe this is not a problem.
http://zoompf.com/blog/2012/05/too-chunky

I am still unsure about committing mid-chain.

[2015-01-13 20:28] decebals commented on #66
Initial `Response.commit()` was called in `send`, `file`, `resource`. Means that the response is sent and I cannot do something useful in the next route handlers from chain (if in my route handler that committed the response I call `chain.next` to the end of handle method).
I want to talk more about filters.
Now a `Filter` is a RouteHandler from a `RouteHandlerChain`.  We can split the filters in

[2015-01-13 20:30] gitblit commented on #66
I'm working on some proposals.  Not sure if I will have them today/tonight.

[2015-01-13 21:01] gitblit commented on #66
I re-read through your response.    Thanks for taking the time to explain your position.  I'm ok with the current approach but I will have some Request/Response changes to propose.  I found one or two cases where something I didn't expect to happen did which fails the rule of *least astonishment*.
https://en.wikipedia.org/wiki/Principle_of_least_astonishment

I will not be proposing a result wrapp

[2015-01-14 15:09] decebals opened #70 "Running CrudNgApplication as WAR"
I try to run CrudNgApplication from pippo-demo as WAR on a tomcat 7. The problem is that I encountered a strange issue:
- sometime (in fact in most cases) in the console browser I see:

login:41 Resource interpreted as Script but transferred with MIME type application/octet-stream: "http://localhost:8080/webjars/jquery/1.11.1/jquery.min.js".
login:42 Resource interpreted as Script but transferred

[2015-01-14 15:13] decebals commented on #70
The second error is:

This error appears only in Chrome.

[2015-01-14 15:53] balamaci commented on #70
I see the mimetype is set correctly at the point of ClasspathResourceHandler:123 however
however I think it's being rewritten in
Response: public void resource(InputStream input) {
           if (isHeaderEmpty(HttpConstants.Header.CONTENT_TYPE)) {
            header(HttpConstants.Header.CONTENT_TYPE, HttpConstants.ContentType.APPLICATION_OCTET_STREAM);
        }
}
because the condition isHeaderEmp

[2015-01-14 20:00] decebals commented on #70
tested on tomcat 7.0.57

[2015-01-14 20:00] #70 closed

[2015-01-16 01:00] gitblit commented on #66
**Filters**

I pushed a massive change to a [branch in my fork](https://github.com/gitblit/pippo/commits/routerOfT).  The purpose of the change is to implement generics on everything that touches `Request`, `Response`, and `Route`.  That turns out to be nearly everything.  :grin:  I'd say it's a proof-of-concept but it took enormous effort and I don't know if I'd have the energy to repeat it again

[2015-01-16 14:13] decebals commented on #66
I like the idea.
Related to `Filter`, my idea is to forget about `BEFORE`, `AFTER` and to add only one new in HttpMethod `ALL` and in this mode we preserve the routes order.
I don't know why I marked `Route` with `Serializable`, we can delete this attribute.

[2015-01-16 19:29] decebals opened #73 "RFC: Split pippo-demo in multiple module"
The problem is that if I want to create an WAR for CrudNgApplication (an example), this WAR file has around of 20MB because I put all demo jars (jetty, spring, trimou, ...). Probably the real size is around of 200KB. I think that it's very important to show that a pippo application has a small footprint.
My intention is to split pippo-demo in multiple maven module (a folder, an application and a p

[2015-01-16 19:38] gitblit commented on #73
The real size will definitely be larger than 200KB but certainly less than 20 MB.  :)

Either we should have a `pippo-demo-template` with all engines linked or move each engine demo to the engine module.  Several of the demos have alot of code duplication.  Perhaps `pippo-demo` could contain common code.  Honestly, it doesn't make a big difference to me how the demo code gets structured.  Pick one

[2015-01-21 20:28] decebals commented on #73
In `pom.xml` for `pippo-demo` I created two profiles:
- main
- war

The `main` profile is the default. This profile set `packaging.type` property to __jar__ and add `pippo-jetty` as dependency.
The `war` profile set `packaging.type` property to __war__. To activate this profile you must run mvn command with `-Pwar` (for example `mvn -Pwar clean package`)

[2015-01-21 20:28] #73 closed

[2015-01-22 10:14] decebals commented on #73
I created a [linux script file](https://gist.github.com/decebals/9f7e57e42b705be8a092#file-run-pippo-demo-sh) that help me to run a demo module into an apache tomcat container.
Maybe it's useful for someone.

[2015-01-22 18:35] decebals commented on #66
@gitblit What is your intention related to [generics](https://github.com/gitblit/pippo/commits/routerOfT)?

[2015-01-22 19:47] gitblit commented on #66
Not sure.  It adds a great deal of complexity with the massive <>
injections.  Do you think it's worthwhile?

[2015-01-22 21:33] decebals commented on #66
It's clear that adding generics we improve the flexibility but it's a price for this and I don't know if it's worthwhile. It's hard to explain a signature as `Application<Q extends Request, R extends Response, T extends Route<Q, R>>` and I don't know if it's a real interest for a custom route (in this stage of development).
I propose to park this idea for the moment. We need to focus on the next r

[2015-01-22 21:57] gitblit commented on #66
Agreed.​

[2015-01-26 14:30] #66 closed

[2015-01-26 14:49] gitblit commented on #12
Switched to IntelliJ.  Problem solved.  :)

[2015-01-26 14:49] #12 closed

[2015-01-26 14:50] gitblit opened #78 "Remove legacy external files feature"

[2015-01-26 17:25] gitblit opened #81 "Cleaning up a request-response cycle regardless of errors"
Consider this scenario where we are getting a Db instance to be shared throughout a request-response cycle:

[code]

If an exception is thrown in `POST` then the cleanup route is never executed and we are now leaking Db connections.  Instead of trapping Db exceptions in every handler, it would be nice to be able to specify cleanup routes/routines that are guaranteed to execute at the end of the Re

[2015-01-27 13:10] decebals commented on #81
Personal, I found two options:
- use a `RouteHandler` (filter - no commit) and a custom `ErrorHandler`
[code]
- add a marker __Finally__ for `RouteHandler` (`Finally` annotation or `FinallyRouteHandler` that extends `RouteHandler`) and in PippoFilter when we catch an exception in a RouteHandler then iterates through the chain, find FinallyRouteHandler and call them.

By the way. I think that it's

[2015-01-28 13:55] gitblit commented on #81
The first suggestion is how it could be done right now without API changes.  I don't care for this approach as I don't find it to be terribly elegant.

The second approach is more to my liking.  Annotations are nice.  That would work with a controller-based design but it would not work with Lambdas.  Hard classes are nice.  Would work with Lambdas but not controllers.  Do we need both?

As for the

[2015-01-28 14:31] balamaci commented on #81
Hi guys, I don't know if a CLEANUP or FINALLY annotation is very clear for a new user it exists and it needs to use that. I remember @gitblit mentioning something that stuck: "the rule of least astonishment" and I guess it also applies to the custom number of things a new user needs to learn to use a new framework. I think we need to consider how often we expect the users to use this cleanup patte

[2015-01-28 15:13] gitblit commented on #81
A listener design would be another option.  I could go either way for my needs.

There are two nice things about the `RouteHandler` approach:

1. we are not adding a new mechanism with registration/removal methods
2. the appropriate cleanup/finally handler would be matched with `uriPattern` by the `Router`.

A listener mechanism would either need to also match by `uriPattern` or would be a global

[2015-01-28 18:55] decebals commented on #81
It's important for adoption to have a steep learning curve. For this reason I wish to not introduce new concepts if not necessarily need.

I prefer a filter.
I propose an idea introduced by James (gitblit) in https://github.com/decebals/pippo/issues/66.
The idea consists in:
- returns a Route in `Application.ALL` (in don't know if it's ok to make this modification for other methods - GET for examp

[2015-01-28 19:07] gitblit commented on #81
Yup.  That'll work when coupled with appropriate logic in PippoFilter.

[2015-01-29 09:58] balamaci commented on #81
Very nice. Maybe rephrase the method name as to suggest more of a flag setting, not an actual action.
I guess passing a lambda instead to cleanup( ()-> { .. }) is not a better option.

[2015-01-29 16:18] decebals commented on #81
@balamaci I think that can be an idea (a finally block for a concrete route) but the implementation requires java 8 and for now I say to stay with java 7 for a while.

I created a new branch  [finally](https://github.com/decebals/pippo/tree/finally) to create a RFC for this feature.
I added new routes in `BasicApplication` to make some tests:
[code]

In the internet browser I made a request to `ht

[2015-01-30 16:36] decebals commented on #81
After some tests I can infirm this affirmation.

I made some tests and I found some issues in actual pippo-core:
- if I call "/not-found" from browser then "cleanup" filter is called because the URI pattern is `ALL("/.*")` (here I expect route not found)
- I see a request "/favicon.ico" in pippo from browser (I resolved with 5c1c43d7318ff8f92c9848831de0868f39125d2f) that activate the "cleanup" fil

[2015-01-30 16:49] gitblit commented on #81
In PippoFilter after the ignore paths check we should...

[code]

Then after the check for `!response.isCommitted()` we should...

[code]

I implemented that last night but didn't propose it yet.  Works nicely.

Because of filters, we have to default to an uninitialized status code.  A
handler somewhere in the chain must set a status code, otherwise it's a 404.

-J

On Fri, Jan 30, 2015 at 11:36 A

[2015-02-02 22:19] gitblit commented on #81
I pushed a change to your `finally` branch to handle the `/not-found` scenario.  We couldn't use 0 on Jetty, so I used Integer.MAX_VALUE instead.  Some handler in the chain must set a status code, otherwise we trigger a 404.

[2015-02-02 22:50] gitblit commented on #81
I was not able to repeat your `runAsFinally()` observation - i.e. I disagree that that cleanup occurred after an exception was thrown.  Perhaps you were testing with the `/not-found` path which should have been a 404 but was not and also did not throw an exception.

I completed your implementation of `runAsFinally()` by integrating it into the  into the `RouteHandlerChain` and ensuring it's called

[2015-02-03 00:08] #78 closed

[2015-02-03 00:09] gitblit commented on #34
What are your plans for this?

[2015-02-03 09:31] decebals commented on #34
I don't know if it's a priority right now.
I thought little about implementation and what I see now it's to save these type of messages on session and to remove that messages from session on the next request. What I don't like me with this implementation is that it's not stateless but I think that the implementation is clean enough. Maybe it's valuable to add a "stateless" implementation for __Ses

[2015-02-03 12:36] gitblit commented on #34
I'm still formulating my opinion on server-side session vs.
session-as-cookie.  I think Session should be an interface so we can choose
different backends.

Storing in *a* session is likely the right place but right now that data
does not automatically go to the template engine.  Response.locals() is
sent to the template engine but that does not include session attributes.

As a start, if a sessio

[2015-02-03 13:15] decebals commented on #81
It was my mistake.

I like IntelliJ Grep Console plugin.

Can we find a better name for `runAsFinally` or it's ok? Now in `RouteHandlerChain` we have `cleanup` and maybe it's good to use the same term to mark a cleanup route.

[2015-02-03 13:22] gitblit commented on #81
I like both finally and cleanup.  Unfortunately "finally", by itself, is a
reserved keyword.  I'm happy with whichever you prefer.

[2015-02-03 14:20] decebals commented on #81
Just an observation. Now I see that I can call `chain.cleanup()` (accidentally or not) in a route handler. Is it ok?

[2015-02-04 12:45] gitblit commented on #81
Resolved by #84.

[2015-02-04 12:45] #81 closed

[2015-02-04 12:46] gitblit opened #85 "What is our documentation strategy?"
Markdown? Asciidoc? Framework for building a static site?

[2015-02-04 20:28] decebals commented on #85
It's simple. I have no strategy because it's for the first time when I try this approach with the content on github :) If you have a strategy I would be happy to use it. If not, we will study existing approaches and we choose one of them. I think we need to choose something simple. Ultimately it is important the content.
This part (documentation) is very important for me because a good documentati

[2015-02-06 23:45] decebals commented on #34
I created a branch `flash` and I tried to propose an implementation for this feature.
I see some little issues (in implementation) but I think that they are not stoppers.

[2015-02-07 00:01] decebals commented on #34
I added some inline comments in the commit https://github.com/decebals/pippo/commit/75734301c8b32997bb7180fc56d2c2ad9ec3979c#comments

[2015-02-09 13:14] gitblit commented on #34
This looks good.  Minor improvements...

1. flash.warn(), flash.info(), etc.
2. flash.warn("here is my {} message", "test");

I think a "flash" key convention is great.

[2015-02-09 14:49] gitblit opened #91 "RFC: Alternate signature for RouteHandler"
How do you feel about adopting one of the following signatures:

[code]

or my preference

[code]

where `Context` is an interface like:
[code]

If we put the chain inside the `Context` then `Context` would need a `next()` method.

[code]

I would drop the `Request` and `Response` factories and implement a `ContextFactory`.

I would also move most/all functionality out of `Request` and `Response`

[2015-02-09 18:47] decebals commented on #91
Personally I prefer to materialize both concepts `Request` and `Response` and to not hide the Request-Response nature.
I don't want to be another Play, Ninja implementation and to clone these frameworks.
Pippo is something different, you can read some parameters from the request and to send the response directly. In ninja for example, I feel that Context it's like a __DTO__, a big bucket, a storag

[2015-02-09 19:23] gitblit commented on #91
If you don't move methods out of `Response` and `Request` and into `RouteContext` then I agree, there is no value and it makes `RouteHandler` implementations more complex.

I also agree that `RouteContext` is a big bucket.  The current solution is three smaller buckets - and two of them are like ying & yang - intertwined/codependent.

I think your most important remark concerns response sending wh

[2015-02-10 10:34] decebals commented on #91
I think that `Request`, `Response` concepts are very usefully in pippo because HTTP is a request-response protocol and as a user I wish to have a nice representation for these main concepts. I considerate that we done a nice job with the current implementations.
Also pippo is a micro web service that in essence is specialized in mixing server generated pages with RESTful APIs.
Nowadays I see a rea

[2015-02-13 15:27] decebals opened #92 "CookieSesion implementation"
I created a new branch `cookie_session` where I try to create a proof of concept for a session implementation based on cookie.
I will try to put in this issue all problems/inconvenient found by me.
For now I found this problem:
- in `CookieSession` I need to have access to response (to save the session cookie in response)

I see these possible solutions:
1. Solution with `RouteContext` (#91) but i

[2015-02-13 15:43] gitblit commented on #92
Generally, I favor APIs over ThreadLocals.

ThreadLocals have their place and it's great the JVM gives us that option but they are a crutch.  `RouteContext` is a massive change, but I think long-term we'll be happier adopting `RouteContext`.

Like I wrote in #91, I'm in favor of staying close to the servlet api and I would not be opposed to dropping the custom `Request` and `Response` classes alon

[2015-02-17 19:53] gitblit commented on #92
This PR for Ninja is interesting and relevant:
https://github.com/ninjaframework/ninja/pull/313

[2015-02-17 21:44] decebals commented on #92
Nice.
Also `CookieSession` supports encryption via `Encryptor` interface from the initial commit. `DefaultEncryptor` is an Encryptor based on __AES__ algorithm. Also you can create very easy a new encryptor specifying an algorithm in the `BaseEncryptor` constructor.

[2015-02-24 17:25] gitblit opened #96 "Servlet container sticky points"
I've been running Pippo on a couple containers and I have identified some under-the-hood issues.

1. `PippoFilter` is not necessarily loaded on startup of the container I think because it is a Filter instead of a Servlet.  This is an issue because I'd rather see Pippo complete it's initialization on startup rather than on the first request.  We might consider switching `PippoFilter` to be `PippoSe

[2015-02-24 17:26] gitblit commented on #34
Resolved by #90.

[2015-02-24 17:26] #34 closed

[2015-02-24 21:46] gitblit commented on #91
Closed by #95.

[2015-02-24 21:46] #91 closed

[2015-02-24 23:24] decebals commented on #96
Personal I don't see a problem to initialize the application on the first request. The first request will take some more time. But if you think that a servlet it's teh best solution then I have nothing against in making this transition.
I found a link [1] about `Filter` vs `Servlet` for a web framework.

- We set a flag in Response to indicate we have a set status (boolean statusSet = false;)
this

[2015-02-25 19:20] decebals opened #97 "Remove ThreadContext (maybe temporary)"
I see that ThreadContext is no longer used so I prefer to remove it.
I see that many java web frameworks use ThreadLocal (Spring MVC, Wicket, Vaadin, Play Framework - see thread local context propagation). It's not safe but help a lot. I dislike to pass as parameter a context object in 80% of framework methods.

[2015-02-25 20:29] gitblit commented on #97
There are two legitimate use-cases I can think of for `ThreadLocal`.

1. Consuming some library where your app calls into the library and executes some method you also maintain somewhere in the middle of the library execution.  You can't necessarily provide all necessary objects when calling into the library so a `ThreadLocal` is very useful.
2. Method interceptors.  Those may require state that c

[2015-02-26 10:40] #97 closed

[2015-02-26 22:40] gitblit commented on #96
I pushed the change for the 404 a day or two ago.  Not sure if I am in love with that, but it is a low-cost choice.  Let's see how that goes.

On Servlet vs. Filter.  Maybe instead we should leave the Filter but initialize state in a ContextListener which passes info to the Filter?

[2015-02-27 00:32] gitblit commented on #92
Time to rebase on RouteContext changes?

[2015-02-27 13:05] decebals commented on #92
Sure. I will try to finalize this weekend my work to CookieSession .

[2015-02-27 14:18] gitblit commented on #92
I'll be interested to see how you decide to handle Flash.

I still haven't decided if cookie sessions are a good idea or not.  Blogs & stackoverflow can be used to find arguments for both sides: client-side session, server-side sessions.  Even the Rails documentation, which AFAIK pioneered cookie sessions, is careful in their documentation about them.  Either way, I think it is an important option

[2015-02-27 14:29] decebals commented on #96
I don't understand your problem. The filters are loaded on application startup (so `PippoFilter.init`->  `Application.init` + `Initializers` are loaded on servlet container startup). The servlets can be loaded on startup or on demand (using `load-on-startup` in `web.xml`).

[2015-02-27 14:54] decebals commented on #92
For me it's not about client-side vs server-side sessions. I try to define a  flexible `SessionStore` mechanism/concept that allows me to store a session in different backends (cookie, memory, redis, memcached, ).  Sure for each important servlet container (tomcat, jetty) already exists some `SessionManager` implementations but maybe it's valuable for pippo a flexible `SessionStore` with some buil

[2015-02-27 16:11] gitblit commented on #92
Absolutely.  I agree, we definitely should have this.

[2015-03-10 14:22] decebals opened #107 "RFC: Move work related to Controller concept in a new module (pippo-controller)"
I created a new branch [controller_module](https://github.com/decebals/pippo/tree/controller_module) when I move the `Controller` concept in a new module `pippo-controller`.
I see now that I made a mistake - I created this branch not from `master` (from `cookie_session` branch) - but I can fix this very easy.
I created some extensions like: `ControllerApplication extends Application`, `ControllerR

[2015-03-12 15:05] gitblit commented on #107
I have some ideas on this.  I'll PM you.

[2015-03-13 23:33] decebals commented on #92
I created a [new branch](https://github.com/decebals/pippo/tree/session_manager) with a better solution in my opinion.

If you want a (custom) session manager in your application then you must inject that manager with:
[code]

A session manager is is composed of two parts:
- `SessionDataStorage` that is a CRUD over `StoreData`
- `SessionStrategy` that is responsible to fetch the session id from a

[2015-03-13 23:40] decebals commented on #92
For me a `CookieSessionDataStorage` it's not a priority because I prefer a redis, memcahed or jdbc implementation for an architecture with multiple nodes/servers .

[2015-03-14 00:45] gitblit commented on #92
I haven't deployed a multiple node setup.  We buy bigger hardware when we outgrow.  Obviously this means we are not massive scale.  So because of that I don't have a strong attachment to cookie sessions either.  Having the session as a Pippo interface is good enough, I would say.  A cookie session could be a separate module.  A Redis session would certainly be a separate module.

[2015-03-16 14:30] #92 closed

[2015-03-26 16:06] decebals commented on #85
I propose a static site based on Jekyll (Markdown). See [pippo-site](https://github.com/decebals/pippo-site) repository. I am not sure about the best mode to structure the content but I think that for moment it's not a priority. The priority it's to generate the content.

[2015-03-26 16:08] decebals commented on #40
Work in progress on [pippo-site](https://github.com/decebals/pippo-site) repository.

[2015-04-07 13:07] #107 closed

[2015-04-07 13:07] #85 closed

[2015-04-07 13:07] #40 closed

[2015-04-10 03:50] richdyang commented on #35
I don't understand what you mean. Ajax is more of front-end things. If you'd like the application to response as json, it's ok now. And returning javascript by template is also possible.
Ajax is really the difference in request manner and response message body. For server side, it's nothing to change.

[2015-04-10 06:22] richdyang opened #111 "Request.getBoby() may be error-prone"
First, it converts the input stream using the default charset. So if I post a data using application/octet-stream with a charset different from the default charset, some characters will be impossible for reverse conversion.

Another thing is that there is some time when I really want to process stream-based binary data, but Request don't have the option.

Please consider exposing the stream to dev

[2015-04-10 07:43] decebals commented on #35
Your observation is correct. My idea is to supply a functional minimalist demo (based on jquery ajax). After this step I want to see if I can add something valuable in Pippo to simplify the development of Ajax applications (for example to create a pippo.js). One idea is to brings Pippo named routes to javascript.
It's only an idea with a low priority.

[2015-04-10 08:12] decebals commented on #111
It was an issue in IoUtils.copy. I added UTF_8 as charset. Now. I think that Request.getBody() it's ok.
Related to process stream-based binary data we have already Response.getHttpServletRequest().getInputStream(). I don't know if getInputStream() is so common as getBody() to deserve a helper/wrapper method in Response.

[2015-04-13 12:07] nchiring opened #112 "Any plan to support route specific interceptor (aka filter)"
Hi,

   I have been watching this repo for some time now. Good development so far!
I m planning to build a project using this framework. However, I have certain use cases for interceptor.
Any plan to support it?

[2015-04-13 12:28] gitblit commented on #112
In the core project we have [filters](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Application.java#L257) and we have [pre- and post- request/response processing hooks](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Application.java#L323).

Do those satisfy your need or do you mean DI interceptors?  Can you define what *

[2015-04-13 12:29] #96 closed

[2015-04-13 13:01] nchiring commented on #112
Currently, I am interested in Around filter mostly -
1)  request/response cycle AOP interceptor  e.g. @Secure ( This is somewhat similar to [@Timed](https://github.com/decebals/pippo/blob/master/pippo-metrics/src/main/java/ro/pippo/metrics/Timed.java) , however, this interceptor class should be covered by DI ) . I may be wrong, but  pre -post hooks appear to be request/response agnostic( global sc

[2015-04-13 13:24] nchiring opened #113 "Reverse Routing - ContactsController - ClassCastException"
Using pippo-controller 0.5.0-SNAPSHOT version and hitting

Caused by: java.lang.ClassCastException: ro.pippo.core.route.DefaultRouter cannot be cast to ro.pippo.controller.ControllerRouter
	at demo.controller.ContactsController.uriFor(ContactsController.java:44)

My investigation points the problem to ro.pippo.controller.ControllerApplication.
The problem is resolved if I override the following me

[2015-04-13 13:32] gitblit commented on #112
Ninja directly integrates Guice; Pippo-core does not integrate a DI container so it does not support AOP or DI but we do have some basic examples of how you can integrate DI in your project:

- https://github.com/decebals/pippo/tree/master/pippo-demo/pippo-demo-guice
- https://github.com/decebals/pippo/tree/master/pippo-demo/pippo-demo-spring

The pre- and post- hooks are global for all requests.

[2015-04-13 13:38] gitblit commented on #113
Good catch. That was a side-effect of some recent refactoring.

[2015-04-13 13:38] nchiring opened #114 "[ enhancement] Please make session(attributes) as an implicit variable available in templates"
In templating we often need to do -

[code]

I tried dirty hacking to implement it --

[code]
Note sure the best way to do this. But it kinda works.

[2015-04-13 13:41] nchiring commented on #112
Thanks James. I shall go through your examples.
 Agree, Ninja leverages guice directly. Unfortunately, in my case I am trying to use dagger 2.0 as DI (yeah, why is another story)

[2015-04-13 13:52] nchiring commented on #114
Just realized, we need to remove the attribute item in method in order to keep values in sync,
[code]

[2015-04-13 13:55] gitblit commented on #112
I used Dagger 1.x in a webapp and I wouldn't do it again.  Dagger is a fine DI solution if you have a JSE app.  As soon as you want to run your Dagger-based app on a JEE container you are likely to have trouble as Dagger does not play nice with CDI.  Guice has the same issue, actually, but Guice has an advantage over Dagger here: it supports it's own annotations in addition to javax.inject.  For b

[2015-04-14 13:14] #113 closed

[2015-04-14 14:20] #114 closed

[2015-04-14 14:25] decebals commented on #114
Now the Session object (if exists) is available as "session" attribute in the template model.

[2015-04-15 15:21] nchiring commented on #114
That's quick ! Thank you.

[2015-04-15 15:56] decebals commented on #111
Is it ok for you? If yes, please close the issue.

[2015-04-15 15:58] decebals commented on #112
Have you solved the problem? Can I help you?

[2015-04-16 01:12] #111 closed

[2015-04-21 15:12] decebals opened #115 "RouteDispatcher ignores filterPath"
In `RouterDispatcher.onRouteDispatch()` the value for `requestPath` is not correct calculated. The correct calculation is in `PippoFilter.getRelativePath()` that by the way is not used anymore.

[2015-04-22 14:28] gitblit commented on #115
The issue was serving Pippo on a non-root filter path?

BTW, I would have named it `applicationPath` or `pippoPath` not `filterPath` - which implies use of `PippoFilter`.  Did `PippoServlet` also need to be updated?

[2015-04-22 15:09] decebals commented on #115
Yes. The issue occurs when you map `PippoFilter` (in `web.xml` in particular) on an non-root path (for example `/rest/*`). The `PippoServlet` is not affected by this issue.
Also I moved `setFilterPath()` from `PippoFilter` in `WebServer` because it's hard to transform a filterPath (for example /rest/*) in a canonical format (rest/).
In what file do you want to rename variable `filterPath`?

if you

[2015-04-22 16:34] decebals commented on #115
You have right, my solution doesn't work for `PippoServlet` because `Response.setRelativePath()` is not called. I don't find a nice solution for both (Servlet and Filter). Before my commit we had duplication code (related to relative path in `PippoFilter` and `RouteDispatcher.onRouteDispatch()`). I will rethink my solution. Maybe a (Url)PathUtils class with static methods for different path types

[2015-04-23 19:43] gitblit commented on #115
I think we rushed on implementation and release of 0.4.1 without thinking this completely through.
`PippoServlet` has this problem too - the analog would be *servletPath* instead of *filterPath*.

The issue gets larger when you consider templates....
[code]

... and then, of course, reverse-routing.  At the moment, I think we are in poor shape for serving Pippo from a subpath of the context path.

[2015-04-24 04:34] decebals commented on #115
I released 0.4.1 for #113.

[2015-04-24 11:51] gitblit commented on #115
Sorry, I was mistaken.  When you get a chance, take a look at #116.  I think that covers all the cases.

[2015-04-26 13:19] balamaci opened #117 "pippo-spring @Autowired is not supported"
@Autowired fields do not get injected, only @Inject is considered.

[2015-04-30 14:13] decebals opened #118 "Changelog document"
Very good idea. I think that a changelog is a must have.
In the past I tried to use github [Releases](https://github.com/blog/1547-release-your-software) but without much success. Do you prefer the automatic approach via github Releases or the manual approach? If you prefer the manual approach who do you see the implementation (a changelog file, ...).

[2015-04-30 14:16] #115 closed

[2015-04-30 14:17] decebals commented on #115
Resolved by #116.

[2015-04-30 14:35] decebals commented on #118
I am ok with a CHANGELOG,md file in pippo repository. Maybe http://keepachangelog.com help us.

Initial pippo-site was a branch on the pippo repository but I moved it in a new repository because I thought that in this mode, in the future we can accept more easy new collaborators on the documentation site (different collaborator for sources and documentation).

[2015-04-30 14:39] decebals commented on #115
Are you OK with a new release (0.4.2) that should contain this fix?

[2015-04-30 14:42] gitblit commented on #115
Absolutely!

[2015-04-30 14:59] gitblit commented on #118
Yes.  Let's take that approach.  I can start one, if you like.

[2015-04-30 15:20] decebals commented on #118
Sure. Thanks :+1:

[2015-04-30 17:16] gitblit commented on #118
I've started a changelog:
https://github.com/decebals/pippo/blob/master/CHANGELOG.md

The 0.4.0 release needs improving but I am out of time for the day.

[2015-05-07 09:19] balamaci opened #119 "Possible error in handling query parameters which are arrays"
Parameters as Arrays are written in the url by
[code]

This generates some parameters like &tag=[phone,tablet]
which in turn gets deserialized by **ParameterValue** class:
[code]
which results in a list of:
"[phone", "tablet]"

[2015-05-07 11:39] decebals commented on #119
I can replicate your problem with a tiny test.

[code]

The console looks like:
[code]

I read that it's not a standard way of passing an array through a query string. I will investigate the problem.

[2015-05-07 12:31] #119 closed

[2015-05-11 13:19] gitblit commented on #119
I think the proper way to specify a multi-valued parameter is to specify multiple key-value pairs.
e.g. `/test?tags=tablet&tags=monitor&tags=laptop`

[2015-05-11 14:01] decebals commented on #119
Sure but I don't know how I can do this in a clean way.
I like:
[code]
because is clean.

[2015-05-11 14:10] gitblit commented on #119
The issue is not the hashmap storage but the generated url.
This is non-functional code to give the general idea:

[code]

[2015-05-14 09:34] balamaci opened #120 "FileResourceHandler usage is not self evident"
FileResourceHandler constructor is taking two parameters "url" and "directory"
https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/route/FileResourceHandler.java

making it confusing to use it like:
GET("/url", new FileResourceHandler("url", "directory"));

it's intended to be used with:
GET(new FileResourceHandler("url", "directory"));

[2015-05-18 11:31] balamaci commented on #117
Also @Value("${mail.from}") annotations are not supported

[2015-05-18 16:53] decebals commented on #120
I am ok with what you say. All static resource handlers are based on `StaticResourceHandler`. In the [constructor](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/route/StaticResourceHandler.java#L47) of this class we create an uriPattern using the urlPath: `this.uriPattern = String.format("/%s/{%s: .*}", getNormalizedPath(urlPath), PATH_PARAMETER);` Method `ge

[2015-05-18 16:54] decebals commented on #118
It's a good start.

[2015-05-18 16:54] #118 closed

[2015-05-18 17:08] decebals commented on #117
The actual implementation of pippo-spring probably is not the best but I don't see how we can deal with custom annotation (@Value, @Autowired).
I don't see an easy solution. Maybe it's time to revitalized https://github.com/gitblit/pippo/commit/ea1cbfee621976e85006024cbc51b0b84c0c9ac5

[2015-05-18 17:14] gitblit commented on #120
I propose eliminating the duplicate handler check [from here](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Application.java#L221)

... and then something like this:
[code]

[2015-05-18 17:22] gitblit commented on #117
Injecting based on `@Inject` or `@Autowired` is easy enough to do.  That commit does include `@Autowired` support.  That, at least, should be extracted and applied.

I'm not familiar with `@Value`.

[2015-05-18 17:26] gitblit commented on #117
After a quick Google search, I am now familiar.  I think the take-away on Pippo's Spring IoC implementation is that it's not *really* Spring IoC.  Right @decebals ?  It's a home-brewed injection mechanism using Spring contexts, Spring annotations, and custom reflection.  Now I say that not being a Spring user, I prefer Guice.  So maybe I am wrong - but it has always looked like DIY injection to me

[2015-05-18 17:31] decebals commented on #117
@gitblit Sure. I am not happy with the current implementation but I don't have other idea. I will dig on internet to see if I will find a valuable idea, a something more general.

[2015-05-18 17:45] gitblit commented on #120
Yeah, ok.  Maybe throwing `PippoRuntimeException` in `GET(String, RouteHandler)` is necessary to prevent it.

[2015-05-18 17:51] gitblit commented on #120
The reason the resource handlers are different than the others is because they specify a fixed url parameter named `path` and the value extraction regex.  Is there a better alternative?

[2015-05-18 17:56] decebals commented on #120
It's ok, I explained above why `StaticResourceHandler` takes in constructor an `urlPath` as parameter.

[2015-05-18 18:09] balamaci commented on #120
Yes, the missing javadoc might have caused more confusion than what this issue might have deserved.

[2015-05-18 18:16] gitblit commented on #112
@decebals I think it's fair to close this issue.

[2015-05-18 18:39] #112 closed

[2015-05-23 14:57] gitblit opened #123 "Refactor TemplateEngine and move Reponse.render() implementation to DefaultRouteContext"
I have two more unreleased modules that I wrote for Ninja.  One of them is full [Thymeleaf](http://www.thymeleaf.org) integration.

Thymeleaf, favored by Spring, has some compelling features.  Generally I have found it 2x slower than most other template engines, but it's Wicket-ish, being an XHTML-based engine, and validates the document structure.  Plus, the Thymeleaf devs have been working on ve

[2015-05-23 21:08] decebals commented on #123
For now I don't have a favorite template engine. I do my job with freemarker. I know nothing about Thymeleaf but if your intention is to use this template engine we can try to integrate it in pippo.
I am not sure that we must move Response.render() in DefaultRouteContext. Maybe we can use Response.get() and Request.get() for a first implementation. I know your opinion about all business in a big R

[2015-05-23 21:17] decebals commented on #117
I created a local branch to validate another approach. My idea is to let `Spring` to instantiate the Controller object and in this mode we can resolve all annotations. For this reason we must define programmaticaly the `Controller` as a Spring bean. In `PF4J-Spring` integration I used this approach via [ExtensionsInjector](https://github.com/decebals/pf4j-spring/blob/master/src/main/java/ro/fortso

[2015-05-24 14:35] gitblit commented on #123
I'm undecided, but choices are always good.

You know I loathe static accessors BUT this seems reasonable... for a first implementation.

This is how I see it too.  My thought was something like this `TemplateEngine.renderResource(String, Map<String, Object>, RouteContext)` or maybe `TemplateEngine.renderResource(String, RouteContext)` or maybe `TemplateEngine.renderResource(String, Map<String, Ob

[2015-05-25 15:01] decebals commented on #117
@balamaci , @gitblit What you say about https://github.com/decebals/pippo/tree/spring? The implementation it's very light and we resolve all cases.
I updated `pippo-demo-spring` to reflect the last modification.
I don't know if we can apply the same approach for a `pippo-guice` integration.

[2015-05-25 16:34] decebals commented on #117
I will add some details.

In your [ControllerApplication](https://github.com/decebals/pippo/blob/spring/pippo-demo/pippo-demo-spring/src/main/java/ro/pippo/demo/spring/SpringApplication.java) you must add this line in `onInit` method:
[code]

The main component is [SpringControllerFactory](https://github.com/decebals/pippo/blob/spring/pippo-spring/src/main/java/ro/pippo/spring/SpringControllerFact

[2015-05-26 08:52] balamaci opened #124 "Parameter value is not url encoded by default"
I don't know if it's intentional or not, it seems in the sources there is a comment.
https://github.com/decebals/pippo/blob/cbb8863bb0dbee1f4154a90774144a3e2dbdeeb6/pippo-core/src/main/java/ro/pippo/core/route/DefaultRouter.java#L407

Maybe I'm used to wicket but I was expecting the value to be automatically encoded.

[2015-05-26 11:48] gitblit commented on #124
@decebals Why not just use `URLEncoder` instead of roll-your-own?

[2015-05-26 12:04] gitblit commented on #117
This looks like a step in the right direction.  I still think IoC can be further improved but I don't have any concrete recommendations right now.

[2015-05-26 12:17] decebals commented on #124
@gitblit My first intention was to use `URLEncoder` but I read some unfavorable comments (for example http://stackoverflow.com/questions/10786042/java-url-encoding-of-query-string-parameters).
Sure I have no problem to use `URLEncoder`.
I remarked some differences. For example "Decebal Suiu" is encoded "Decebal+Suiu" with `URLEncoder` and "Decebal%20Suiu" with my function.
Please tell me if you wa

[2015-05-26 12:26] decebals commented on #124
A nice article about UrlEncoding is http://blog.lunatech.com/2009/02/03/what-every-web-developer-must-know-about-url-encoding.

[2015-05-26 12:43] gitblit commented on #124
Totally agree.  I'm familiar with that article which is why I am wary of roll-your-own solutions for encoding. I think the best solution is to add a proven Apache dependency with proper encoding utils but that is a slippery slope and breaks our nice claim that `Pippo-Core` has a single dependency - logging - and that's it.

[2015-05-26 15:50] decebals commented on #117
@gitblit I pushed a new version of `pippo-guice` (only one class `GuiceControllerFactory` in branch `spring`) but I don't use `Guice` so I don't know if the implementation is OK (the demo is functional). Please let me know if it's OK for you.

[2015-05-26 21:11] gitblit commented on #117
Yup.  That looks fine.

[2015-05-27 13:25] decebals commented on #112
@nchiring I put a snapshot that resolve #117. We introduced the `ControllerFactory` interface that can instantiate a `Controller` object. For example, The module [pippo-spring]({{ site.codeurl }}/pippo-spring) contains [SpringControllerFactory]({{ site.codeurl }}/pippo-spring/src/main/java/ro/pippo/spring/SpringControllerFactory.java) that it's a `ControllerFactory` implementation that delegates t

[2015-05-27 15:23] decebals opened #126 "Maven Quickstart archetype"
Maven archetype to build a small Pippo web application.

[2015-05-29 08:50] decebals commented on #117
Updated [Spring](http://www.pippo.ro/mod/spring.html) and [Guice](http://www.pippo.ro/mod/guice.html) sections on the documentation site.

[2015-05-29 08:52] decebals commented on #126
Created [Quickstart](http://www.pippo.ro/dev/quickstart.html) section on the documentation site.

[2015-05-29 08:52] #126 closed

[2015-05-29 08:54] decebals commented on #124
Added a notice in [Reverse routing](http://www.pippo.ro/doc/reverse-routing.html) section on the documentation site.

[2015-05-29 08:55] #117 closed

[2015-05-29 08:55] #124 closed

[2015-06-02 13:11] danjee opened #132 "Change default port"
Wanting to change the default port for the sample application with the code

[code]
led me to the error:

[code]

[2015-06-02 13:20] gitblit commented on #132
How about this instead:

[code]

[2015-06-02 13:43] decebals commented on #132
In [manual](http://www.pippo.ro/doc/server.html) we have two approach: `pippo.getServer().getSettings().port(8081)` or `server.port = 8081` in _application.properties_.
I will take a look in code to prevent this situation with NPE.

[2015-06-02 13:46] danjee commented on #132
Hello, the line
[code]
changed the port. I was surprised of the NPE.
Thanks

[2015-06-02 14:20] danjee opened #133 "Json output"
I've tested a JSON sample like this with the 0.4.2 release:

[code]

The output was:
[code]

And the error was:

[code]

[2015-06-02 14:22] danjee commented on #133
XML is working well. I will add the Shop class as well

[code]

[2015-06-02 14:26] gitblit commented on #133
You need to add one of the Pippo JSON engines to your classpath.  Add a dependency on either `pippo-gson` or `pippo-fastjson`.  `pippo-jackson` is coming in the next release.

[2015-06-02 14:32] danjee commented on #133
Great,
Now it works, but I think a clearer error will be more appropriate
Thanks

[2015-06-02 14:39] danjee commented on #133
The error is clear enough.

[2015-06-02 14:39] #133 closed

[2015-06-03 12:43] #132 closed

[2015-06-08 19:48] #120 closed

[2015-06-09 09:01] decebals commented on #120
Please use the new methods `addXXXResourceRoute()` (`addPublicResourceRoute()`, `addFileResourceRoute()`, `addClasspathResourceRoute()`, `addWebjarsResourceRoute()`)

[2015-06-09 12:35] decebals commented on #35
I created a basic demo pippo-ajax. The ajax part is implemented using [intercooler.js](http://intercoolerjs.org/) - declarative ajax library.

[2015-06-09 13:13] gitblit commented on #35
That's a nifty little library!

[2015-06-09 13:21] gitblit commented on #35
I deployed a Bower Webjar for intercooler 0.4.10 so you shouldn't need to use the CDN.

<pre>
Deployed!
It will take a few hours for the Maven Central index to update but you should be
able to start using the Bower WebJar now.

GroupID = org.webjars.bower
ArtifactID = intercooler-js
Version = 0.4.10
</pre>

[2015-06-09 13:32] decebals commented on #35
Nice. I see that it's very easy to write pippo-ajax application using intercoller (simple stuff). If you want, we can improve the pippo-demo-ajax module and add this demo on the master branch (and of course add a simple page `Ajax` on pippo-site).

[2015-06-09 14:08] gitblit commented on #35
I think that would be a good idea.

[2015-06-09 17:04] decebals commented on #35
`<script src="${webjarsAt('intercooler-js/0.4.10/src/intercooler.js')}"></script>` is a little different than a standard `<script src="${webjarsAt('jquery/1.11.1/jquery.min.js')}"></script` (just an example) but it's a solution

[2015-06-09 17:23] gitblit commented on #35
I don't get to control the layout of the jar file.  That's part of the autoconversion from Bower to Webjar.

[2015-06-09 17:27] decebals commented on #35
Sure. I wrote above comment just to remember the correct syntax :smile:

[2015-06-10 08:38] decebals commented on #35
I will try to improve the demo with a CRUD

[2015-06-10 08:38] #35 closed

[2015-06-10 10:39] decebals opened #138 "Move all handlers from core in a new package handler?"
A new package `core.handler` and move all handlers (*Handler.java, route.*Handler.java) in this package.

[2015-06-10 11:45] gitblit commented on #138
I agree, the *core* package is a little fat.  Another alternative would be moving `*Handler.java` into *core.route*?  We already have that and they are directly related - a *Route* has a url, method, and a Handler.  That would add 5-6 classes to *core.route* perhaps making it too fat.  If we a create a new package that moves 5-6 classes out of *core* and 5-6 classes out of *core.route*.  I'm fine

[2015-06-10 19:43] decebals opened #139 "Java 8 reloaded"
I wish to review the Pippo switch to J8.
The idea is not new, we have some discussions on this theme in #41 and #43. We have some benefits : __Lambda__ (short route handler registration), __Optional__ and maybe more. The main problem is if we want to move pippo to J8 or to create a new branch (or maybe pippo2) and when we start work on this feature,
I am waiting opinions.

[2015-06-11 00:33] gitblit commented on #139
Java 8. Its a no-brainer.  I don't think we should go for Pippo 2 already as we haven't even hit 1.0. I have always run on J8 exclusively and switching Pippo to J8 will allow me to upstream improvements to the controller package and make my Fathom-Pippo integration thinner. That's a win for everyone.

I really like Optional... In Guava. ☺ J8 optional is a little inferior but not too bad.

Anyway,

[2015-06-11 20:59] gustavogalvan opened #144 "Apache Velocity Engine"
Can you add a template module for Apache Velocity ?
Thanks so much !

[2015-06-12 05:46] danjee opened #145 "Increase in modularity"
I found that the current way of defining the application seems somehow monolithic:

[code]
instead of

[code]
Wouldn't be better if we could have multiple classes that extends Application class and have them
annotated with a marker so Pippo will read them on load? This way you gain more in modularity and let the developer needs split the code.
You can even implement it with the pf4j framework, but

[2015-06-12 08:10] balamaci commented on #145
Hi,
I rather thought of Application more of a Singleton, I mean I don't imagine having multiple instances of Application inside the same war at least. And there is no need now to pass Application into Pippo with new Pippo(new AjaxApplication()). I personally am not a fan of too much magic and would rather have a necessary dependency stated upfront(in the Pippo constructor like it is now).

[2015-06-12 08:38] danjee commented on #145
Indeed the current Application will not be singleton then and the class name will have to be refactor. I was thinking more on Spring Boot with its RestController services.
Another downside for this change will be that the API will be broken.
I don't think it will be magic but I think it will suit the needs for medium size apps not just smaller ones.

[2015-06-12 12:14] gitblit commented on #145
Application is definitely a singleton in the current design.  While your proposal is interesting, I don't think we'd adopt it in Pippo as it adds complexity to something that is designed to be straight-forward. @decebals, of course, will have the final say.

Having said that, Pippo is purposefully built as a treasure trove of parts.  You can use Pippo as it's advertised & documented or you can rem

[2015-06-12 15:22] gustavogalvan opened #146 "Dynamic internationalization"
Load translations dynamically (from outside the classpath) without adding too much complexity. The data source for translations could be a service (like Redis) or simple files for each language.
The new approach could have a method for reload translations in memory (programmers can make a /admin/i18n/reload URL to call that method), and a method to log terms/translations not found (to help transla

[2015-06-14 12:34] gustavogalvan opened #147 "Web server tuning"
Make options (threads, buffer size, etc.) for each webserver accesible from settings files. This is specially usefull for Undertow, where speed varies with response size and buffer size needs to be configured.

[2015-06-14 14:46] decebals commented on #147
I pushed a possible implementation. Maybe it's not the best but it's work.

You must add this line in your ApplicationLauncher before `pippo.start();`
[code]

Any comment is welcome.

[2015-06-14 16:07] gustavogalvan commented on #147
Seems ok for me.
I downloaded the branch "server-settings" but doesn't compile jetty & undertow modules:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.5.1:compile (default-compile) on project pippo-jetty: Compilation failure: Compilation failure:
[ERROR] bootstrap class path not set in conjunction with -source 1.7
[ERROR] /home/gustavo/Proyectos/Pippo/pippo/pippo

[2015-06-14 17:29] decebals commented on #147
I cannot reproduce your error. I compile the project from command line (maven) and also from IDE with both java 1.7 (17.0_25) and 1.8 (1.8.0_40) without errors. Maybe another user can confirm that it's an issue on compilation.

[2015-06-14 18:46] gustavogalvan commented on #147
Sorry ... my bad. Maven was using a pippo-core cached version. Compilation is OK, thanks !

[2015-06-14 19:31] decebals commented on #147
No problem.
I see here some problems with the default settings.
For example at https://github.com/decebals/pippo/commit/4cf1353c7d168843b02e97a551ab4ce852b73716#diff-461ae40e92bd3b5964439e29c7c0fc47R109 I don't know if that check (bufferSize> 0) is the best solution. We don't know the default value so we can't know if the user made some custom settings or not.

[2015-06-14 19:50] gustavogalvan commented on #147
https://github.com/undertow-io/undertow/blob/master/core/src/main/java/io/undertow/Undertow.java

builder() calculate default values for: directBuffers, bufferSize and buffersPerRegion. Next, the programmer has the responsability for changing values (or not).

[2015-06-14 20:07] decebals commented on #147
Sure, but when a `UndertowServer` is instantiated then a default `UndertowSettings` is created (via `createDefaultSettings` method). The problem is that by default you have `bufferSize = 0` and you are forced to check if the user modified this value or not when you create the Undertow instance. Only if `bufferSize > 0` (touched/modified setting) you must set that value in `Undertow.Builder` class

[2015-06-14 20:23] gustavogalvan commented on #147
Sorry, I've misunderstood you. I don't see problems using 0 as "don't touch this".
Moreover, there are more values to adjust ... so as you are doing that, could you add more? like setBuffersPerRegion, setIoThreads, setWorkerThreads and setDirectBuffers

[2015-06-14 20:25] gustavogalvan commented on #147
- all are Int but setDirectBuffers is Boolean -

[2015-06-14 20:28] decebals commented on #147
Sure. You can put any Undertow setting. If you want more settings in `UndertowSettings` please submit a Pull Request.

[2015-06-14 20:29] decebals commented on #147
@gitblit What you say, is it ok my approach?

[2015-06-14 21:47] gustavogalvan commented on #147
It's ok for me. At least it is a good starting point because solves a performance issue.

[2015-06-15 11:56] gitblit commented on #147
Looks good. Being able to tune from `PippoSettings` would be a plus: `undertow.bufferSize`.

[2015-06-15 13:07] decebals commented on #147
Done. You can put `undertow.bufferSize = 1024` in your `application.properties`.

[2015-06-15 13:08] #147 closed

[2015-06-15 14:05] decebals commented on #144
@gustavogalvan Can you help me with some velocity templates? Now in `resources/templates/pippo` are some templates copied from freemarker project and I want to translate these templates from freemarker syntax to velocity syntax but I am a newbie in velocity.

[2015-06-15 16:56] gustavogalvan commented on #144
I'm not in my workplace but I do not want to delay you, so...
* $welcome is ok for an String;
* for HashMap <String, String> data (with "car","ferrari"): $data.car = ferrari
* for HashMap <String, String[]> data (with "cars",["ferrari","fiat","ford"]):
#foreach($car in ${data.cars})
   <p>$car</p>
#end

#include: includes a file without processing vars
#parse: includes a file processing vars

I no

[2015-06-16 08:59] danjee opened #152 "Rename maven profile"
I think the maven profile "main" should be renamed with "standalone" for clearer usage.

[2015-06-16 09:04] danjee opened #153 "Rhythm template engine"
As I saw on their site the Rhythm template engine seems to have good performance:
"Being different from dynamic engines like Velocity and FreeMarker, Rythm is a static typed engine and compile your template source into java byte code, and thus very fast. Based on the result of this benchmark test, Rythm is one of the fastest template engines in Java world."

I want to know if it will worth the eff

[2015-06-16 11:50] gitblit commented on #153
Probably the only way to know if it is worth the effort is to do it.  Rhythm has been around for a few years and has not caught-on, for whatever reason. I'm not saying it's bad - but I don't run across it in the wild.

You might find [this](https://github.com/mbosecke/template-benchmark) interesting.  It's not comprehensive across all available engines, but it generally matches my observations the

[2015-06-16 14:33] decebals commented on #144
I finished the implementation. Probably I must make some adjustments but the module is 100% functional (`webjarsAt`, `publicAt`, ....). You can test with `VelocityDemo` from `pippo-demo-template`.
From my experience with this implementation I don't recommend you velocity as template engine from these reasons:
- the last release (1.7) is from 2010
- no support for template inheritance (if you want

[2015-06-16 17:33] gitblit commented on #144
Generally I like the idea of having one implementation but `PippoHandler` depends on pretty-time which means adding a compile-time dependency to `pippo-core`.  I suppose it could be specified as `optional` in `pippo-core` and required in the template engine poms...

[2015-06-16 18:31] #144 closed

[2015-06-16 19:16] decebals commented on #152
Done with #150

[2015-06-16 19:16] #152 closed

[2015-06-16 19:19] decebals commented on #146
For a detailed discussion see https://groups.google.com/forum/#!topic/pippo-java/GesSJyRT5uA.

[2015-06-18 12:41] decebals commented on #145
I think that we must have one `Application` instance in a project, this is the entry point in any application created with pippo.  In this class I do some configuration (`registerContentType`, `registerTemplateEngine`, `setRouter`, `createRequestResponseFactory`, ...) and I can add some routes (shortcut methods for `getRouter().addRoute()`).
The single part that it's candidate for modularity is th

[2015-06-19 22:39] rygel opened #163 "Recursion in error handler when provoking a 404 with Pebble"
Hello,

I am trying to setup a test project using the maven quickstart archtype (0.5.0). It works perfect with the default settings. When I try to access a URL which is not defined (/login) I get a nicely rendered 404.
However, when I switch the Template Engine from Freemarker to Pebble, I get the following exception:
[code]

[2015-06-20 09:38] danjee commented on #153
Yes, this can be done. I will send a PR after my changes are completed

[2015-06-20 09:43] danjee opened #164 "Webjars version"
A nice idea from wicket-bootstrap implementation of webjars was to use the `current` to get the latest version of the webjar, so if you modify the pom.xml to get other dependecy you shouldn't modify all the html or templates. Of course this should be optional and if the user wants to use the fixed version string the scripts should be loaded.

[2015-06-20 09:46] danjee opened #165 "Less4j integration"
What do you feel about a less4j integration ?

[2015-06-20 11:44] gustavogalvan opened #166 "Web server settings improvements"
I'm suggesting a new approach for a more agile web server configuration, to avoid the need to recompile the server module every time a new option was "discovered". The truth is nobody in Pippo core has to be an expert for every web server, just only will know how configure it at Pippo integration.

From my point, all options could be dynamic at start time if it exists in application.properties, wi

[2015-06-21 12:08] gustavogalvan commented on #166
Sorry for "must consider adding/changing options from outside classpath" ... this is already implemented by "-Dpippo.settings=/path/to/application.properties (flexible external location)".
I must read the docs, I must read the docs, ...

[2015-06-21 18:16] decebals commented on #165
I like the idea. Please open a PR.

[2015-06-21 18:57] decebals commented on #164
I like the idea but I see some improvements (I don't know if it's technical possible or if add some value).
For example now we do:
[code]
You propose:
[code]
I prefer a very aggressive approach as:
[code]
or
[code]

And don't forget that we must keep `pippo-core` as slim as possible. If any implementation is a little big for core we must move the code in a new module (maybe it's not case of webjar

[2015-06-21 19:25] decebals commented on #163
I see that it's a WARN but the stacktrace is disturbing. Can you add more information (maybe some code snippet)?
Maybe @gitblit can help you more.

[2015-06-21 19:57] rygel commented on #163
I have done some more debugging and think I found the reason:
The `PippoTemplateLoader` cannot find the template for the error. In this case the file `pippo/404notFound`. When the `PippoTemplateLoader` constructs the path & filename of the template to load it adds a separator char.
[code]
And as I am using Windows it adds a backslash (`templates\pippo/404notFound.peb`). Later the `ClasspathUtils`

[2015-06-21 23:29] gitblit commented on #163
The stacktrace is good - means it's working.  :)

As you've found it's possible to cause a stackoverflow within the ErrorHandler due to the TemplateEngine.  In your case an app error triggered the ErrorHandler to render the exception - but that rendering caused a nested error which triggered the ErrorHandler to render the nested exception which..... so forth and so on.   That is what checkForRecur

[2015-06-21 23:36] gitblit commented on #164
Wow.  I'm not sure if we can safely get *that* aggressive with the WebJars handler.  The layout is consistent - but only up-to-a-point - especially when looking at the newer Bower WebJars.

Do you mean to search the classpath for a resource matching that name?  Could get expensive.

@danjee How does Wicket's *current* linking work?  Are they literally depending on `<version>current</version>` or a

[2015-06-22 05:29] danjee commented on #164
They interpret the `current` word in java code.

[2015-06-22 06:57] rygel commented on #163
Thank you for your answer. I now understand the logic for the ErrorHandler better :)

Should I create a pull request?

[2015-06-22 08:50] decebals commented on #164
An idea is to use `WebJarAssetLocator` from `webjars-locator-core`
[code]
but again I don't know if it's ok (add some value) to complicate the current (simple) implementation of the  webjars in pippo.

[2015-06-22 11:45] gustavogalvan commented on #166
it's seems not easy, because each webserver has own strategy.

[2015-06-22 12:03] gitblit commented on #163
Sure.  Let's also take a survey of the other engines to see if that same behavior crept into all of them.

[2015-06-22 12:21] gitblit commented on #164
Adding that jar would add quite a few [dependencies]  - Jackson & friends - to core and break one of our design requirements.

I agree that specifying fixed versions in templates is cumbersome.  Maybe we could adopt something like what @danjee is proposing to make it more palatable.

I'm thinking we could try to locate all `pom.properties` that are located within `org/webjars` subdirectories on th

[2015-06-22 12:40] decebals commented on #164
@gitblit I agree. Also, if the implementation is complicated we can abandon this feature.

[2015-06-22 23:47] rygel commented on #163
I have also checked the other template engines. They did not have the same behavior.

[2015-06-23 11:21] danjee commented on #165
Close due to #170

[2015-06-23 11:21] #165 closed

[2015-06-23 11:24] danjee commented on #145
The `Initializer` solution is good enough for my scenario. Indeed a priority will be a nice addition but this is out of scope for this issue

[2015-06-23 11:24] #145 closed

[2015-06-23 13:01] decebals commented on #163
Is it ok now? If yes, please close it.

[2015-06-23 13:05] rygel commented on #163
The Pebble Template Engine was the only one affected.

[2015-06-23 13:05] #163 closed

[2015-06-23 13:31] gitblit commented on #164
Assuming no one else has started this, I'll take a stab at this.

[2015-06-23 15:26] gustavogalvan opened #174 "lack of log4j dependency in pippo-jetty's pom"
the title says all

[2015-06-23 15:56] gitblit commented on #174
That's a problem?

[2015-06-23 16:03] gustavogalvan commented on #174
no, but I haven't other way to alert you

[2015-06-23 16:08] #174 closed

[2015-06-24 12:13] gustavogalvan commented on #166
How about this:
1) basic options (like now);
2) advanced (dynamic) options

In application.properties:
This advanced options will be unknown and we must know the variable type. The variable type could be inferred from text via regex, or declared explicity.

Then, in XxxxSettings:
1) get individual basic settings;
2) get all xxxx.advanced.* settings into HashMap

In XxxxServer:
1) apply basic setti

[2015-06-27 03:28] gitblit commented on #164
I pushed a working implementation of `/current/` support in #180.

[2015-06-27 04:11] danjee commented on #164
Thank you! I will update the pippo documentation on webjars.org after the 0.6.0 release.

[2015-06-27 04:11] #164 closed

[2015-06-27 17:23] decebals commented on #164
Also will be great to update the documentation on `pippo-site` (branch `release-0.6.0`)

[2015-06-28 12:11] #166 closed

[2015-07-02 19:38] danjee opened #191 "Webjars relative path"
I have an issue with using webjars that I couldn't find a solution for it.
I've added the bootstrap webjar in the project and a reference to it. Inside the bootstrap.css
there is `@font-face` reference that loads the glyphicons fonts something like this:
 `src: url('../fonts/glyphicons-halflings-regular.eot');`
But when using the glyphicons class the path is not calculated correcty (e.g. the ../ i

[2015-07-03 13:11] decebals commented on #191
I clone your project locally and I made some tests.
I made also a little code review :smile: It's shortly to use lambdas if you use java 1.8
[code]

I used `response.html().resource(getClass().getResourceAsStream("/public/index.html"))` to serve static file or `routeContext.redirect("/app/index.html");`, you cannot render templates because you don't have a template engine in your application.

In

[2015-07-03 13:20] danjee commented on #191
I've used the same webjar from wicket-bootstrap and it worked giving me the right path to the fonts.  I'm in the phase of learning java 8. I will review my code and make it as functional as I can. For the moment I didn't want a template engine, just plain html and css

[2015-07-03 13:51] decebals commented on #191
I think that I found (visual) the bug in `ResourceHandler.getNormalizedPath()`. I will make some tests to confirm that it's what we need.

[2015-07-03 14:50] decebals commented on #191
My assumption from my last comment is wrong. I don't know who resolves the `src: url(../fonts/glyphicons-halflings-regular.woff2` line from `bootstrap.css` but in the chrome console the request made is `http://localhost:8080/webjars/bootstrap/3.3.5/css/fonts/glyphicons-halflings-regular.woff2` and so appears in PippoFilter.

[2015-07-03 20:26] danjee commented on #191
Yes, I saw the extra `css` in the path myself also in Firefox console. I don't really know how CSS calculates paths and why the `../` is ignored

[2015-07-04 19:21] gitblit commented on #191
I just modified the CrudNg app to use a Glyphicon.  The font file is loaded fine from Chrome and FF.

The* browser* resolves the "../" relative to the path from which the *current* css resource is loaded.  I am seeing requests to `http://localhost:8080/webjars/bootstrap//fonts/glyphicons-halflings-regular.woff` which matches my expectation since my header link is `${webjarsAt('bootstrap/css/bootst

[2015-07-06 08:40] decebals commented on #191
Maybe the difference is that @danjee uses `<link href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css/" rel="stylesheet">` in a static html page (without a template engine) and you use `${webjarsAt('bootstrap/css/bootstrap.min.css')}`.

[2015-07-06 13:57] gitblit commented on #191
Hmm.  Good catch.  Our webjars support was written to support our template engines. I never considered to use it outside that scope - but I suppose if you were writing a frontend as a separate project that could make sense - although you lose the version aliasing we just introduced.  That must be why @danjee requested `/jquery/current` syntax.  We may still be able to support that particular use-c

[2015-07-07 08:08] danjee commented on #191
@gitblit You right, by removing the trailing `/` in the link `<link>` declaration the  404 error disappeared.

[2015-07-08 13:48] #191 closed

[2015-07-19 08:38] balamaci opened #195 "pippo-demo-crud-ng - angularjs webjar has huge size compared to other deps"
the .war file produced after pippo-demo-crud-ng  size 6.6MB out of which 3.2MB is angularjs webjar.

[2015-07-19 08:56] balamaci opened #196 "jetty-server .pom dependency is added inside .war file"
jetty-server doesn't make sense inside .war file for the demo apps.
pom.xml accepts a property "packaging.type" with a separate profile for jar / war but it's not affecting jetty-server only pippo-jetty.

PS: There are also some other jetty deps brought but I don't know which one are really necesary in a .war scenario.

[2015-07-19 11:00] decebals commented on #196
It's a bug. If I run `mvn dependency:tree` I have this result:
[code]
So the problem is in `pom.xml` of `pippo-demo-common`.

[2015-07-19 15:05] balamaci commented on #196
Actually the problem is that the 'war' profile is not activated in demo-parent pom.
I'm creating a pull request

[2015-07-19 15:32] balamaci commented on #196
Actually there is no problem, instead of passing the packaging.type one must use mvn -Pwar profile which in turn sets the packaging prop.
It's unclear if the pull request that also sets the profile if the packaging.type=war brings any value.

[2015-07-19 21:59] balamaci commented on #196
@decebals can you confirm that by building the demos with the mvn -P war clean package the jetty-server is not present in the war?
It does not appear to be the case for me, but the pom.xml seems to be ok.
"mvn -P war" should deactivate the activeByDefault of the "main" profile but for me it doesn't appear to do this. I'll try tomorrow with another mvn version.

[2015-07-20 06:53] #196 closed

[2015-07-20 06:56] balamaci commented on #196
Did the tests again with a clean build myself on work pc. Works perfect.

[2015-07-20 13:39] gitblit commented on #195
Does it matter?  It's a demo for using AngularJS.

[2015-07-20 14:00] balamaci commented on #195
Actually the pippo-demo-crud-ng.war (built -P war which removes jetty deps is 5MB) so the webjar is ~60%. Was planning on using it as a base for a blog article about visual testing with a secondary agenda of spreading some awareness about pippo. The angular demo looks good and also has angular hype attached to it, but it also means I cannot really mention pippo as freakishly lightweight.

[2015-07-20 14:03] gitblit commented on #195
Pippo *is* light-weight.  Maybe Angular isn't.  Not a Pippo problem, IMO.  You can still proceed with a "thin" Pippo+Angular example using an Angular CDN to avoid the webjar footprint penalty.

[2015-07-21 12:07] #195 closed

[2015-07-24 13:56] decebals opened #200 "Move demo applications in a new repository"

[2015-07-24 13:57] decebals commented on #200
In progress, see [pippo-demo](https://github.com/decebals/pippo-demo) repository.

[2015-07-24 14:48] decebals commented on #200
Done. In my opinion it is a good move: the build process of pippo is a little fast and we isolated the demo code/issues.

[2015-07-24 14:48] #200 closed

[2015-07-25 06:04] decebals opened #201 "Coverage unknown"
I checked Travis CI and everything is ok but Coveralls say no data. I think that it's a problem with Coveralls, see https://github.com/lemurheavy/coveralls-public/issues/579

[2015-07-26 15:38] #201 closed

[2015-07-30 07:55] decebals opened #202 "Support for multipart in Undertow"
In pippo-jetty we have support for multipart.

[2015-07-30 07:56] decebals opened #203 "Support for multipart in Tomcat"
In pippo-jetty we have support for multipart.

[2015-07-31 09:21] decebals opened #204 "Issue in Response.file method"
The actual code is:
[code]

We push the header map (local variable) to `HttpServletResponse` in `finalizeResponse()` but this method is called early in code so `header(HttpConstants.Header.CONTENT_DISPOSITION, "attachment; filename=\"" + filename + "\"")` do nothing.

My idea was to create a proxy method that are called by each method from `Response` that "commit" the response and in that proxy me

[2015-07-31 12:36] gitblit commented on #204
For the immediate problem you identify we can easily re-order setting the defaults.

[code]

I don't know that we can get away from *response already committed* because of our chain design **unless** we completely extract or hide  the `ServletResponse` from the Pippo Response class.  And by that I really mean we never write anything to the `ServletResponse` from the Pippo `Response`.  The `Servlet

[2015-08-02 05:44] danjee commented on #203
I will have a look at this.

[2015-08-05 05:18] #203 closed

[2015-08-07 08:50] decebals opened #206 "Problem wtih Request.updateEntityFromParameters method"
In few a sentence: in `Request.updateEntityFromParameters()` pippo doesn't retrieve all fields (plus fields from superclass).

`Customer.java`:
[code]

`Entity.java`:
[code]

So, `Request.updateEntityFromParameters(customer)` doesn't 'see' the __id__ field.

[2015-08-07 08:53] #206 closed

[2015-08-07 08:56] decebals opened #207 "PathRegexBuilder"
Please see https://groups.google.com/forum/#!topic/pippo-java/guF64nn2UMg

[2015-08-07 09:11] #207 closed

[2015-08-07 12:20] gitblit commented on #206
:+1: This is a small but *very* useful change. Nice!

[2015-08-18 11:34] lmicra opened #209 "Exception handling for requests with arrays and very large numbers"
Hello,

I'm getting the following exception with requests like:

//pippo-server/?t[14234234722234234234234123]

[code]

[2015-08-18 12:17] gitblit commented on #209
Right.  The array support assumes 32-bit int indexes, not 64-bit longs.  Are you experimenting or do you have a real need for long indexes?  A little further into that method the array is instantiated of the size *maxIndex+1*.  When using long indexes it's not that crazy to consider that Pippo could throw out-of-memory errors in some situations.

[2015-08-18 13:57] lmicra commented on #209
I was configuring a facebook tab, and facebook app sends this kind of request. I've notice the framework uses Integers ( https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Request.java#L139 ) the problem here is that it just breaks, it won't flow to the request handler. It would be better to implement a try catch for cases where the parameters cannot be succesfull

[2015-08-18 14:14] decebals commented on #209
The problem is that pippo "feels" that your parameter is a indexed parameter arrays e.g. setting[0], setting[1], setting[2] and sure it's not in your case.

[2015-08-28 15:23] decebals opened #211 "Add custom Filters, Extensions in PebbleEngine from Application"
The idea is that I want to extend Pebble template engine with custom Filters, Extensions.
For example I wish to use an extension built by me for my application. From Pebble {documentation ](http://www.mitchellbosecke.com/pebble/documentation/guide/extending-pebble) I see that it's very simple to do this:
[code]

but I don't have access to PebbleEngine from Application.

A possible use case could b

[2015-08-28 15:58] gitblit commented on #211
Yes. We should do this.  I have an immediate use-case for it - same as you.  I want to add filters or extensions to the Pebble instance.

[2015-08-28 16:03] decebals commented on #211
What variant? :smile:
1. Add a simple `getPebbleEngine()` in PebbleTemplateEngine
2. Add generic to `TemplateEngine` + new method
3. Add interface X and modify `TemplateEngine` and `WebServer` signature

If it's 2. or 3. can you propose a nice name for the interface name and the method name? :smile:

[2015-08-28 16:21] gitblit commented on #211
It's gets a little tricky in the rest of the architecture when you start making everything generic.  Remember my proposal for subclassing router and routes and the immense amount of generic sigs in that PR?

I guess I would target 2 for now and see how that goes.

[code]

[2015-09-01 23:27] gitblit commented on #211
I think we should also pass `Application` to the init method.

[code]
That would make the setup instructions for [this extension](https://github.com/gitblit/pippo-pebble-emoji) cleaner:

[2015-09-02 07:57] decebals commented on #211
Done with this [commit](3a348318f7ed07863f13c12d81c4b4a7c4461ca3).

[2015-09-02 18:32] decebals commented on #202
Sorry. The multipart is already implemented.

[2015-09-02 18:32] #202 closed

[2015-09-02 18:35] #211 closed

[2015-09-14 00:04] aymer opened #216 "pippo.ro is not available"
Hi,

I'm sure you must have noticed pippo.ro is not what it say it is. Anyway to get it back?
B/w, thanks a bunch for this really good framework.

Thanks
Aymer

[2015-09-14 13:44] aymer commented on #216
I can see it back up and running. Thanks!

[2015-09-14 13:44] #216 closed

[2015-09-14 13:51] decebals commented on #216
Thank you for reporting the problem.
It's a pleasure for me to see that some people consider this web framework valuable.

[2015-09-24 04:24] #153 closed

[2015-10-02 18:31] balamaci opened #219 "java8 build fails with javadoc warning"
Running
mvn clean package
in java8

fails with

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-javadoc-plugin:2.8:jar (default) on project pippo-core: MavenReportException: Error while
 creating archive:
[ERROR] Exit code: 1 - /home/.../projects/pippo/pippo-core/src/main/java/ro/pippo/core/Application.java:129: warning: no @return
[ERROR] public RuntimeMode getRuntimeMode() {
[ERROR

[2015-10-02 18:37] balamaci commented on #219
There is a problem with java8 and javadoc plugin.

https://stackoverflow.com/questions/15886209/maven-is-not-working-in-java-8-when-javadoc-tags-are-incomplete

[2015-10-02 19:25] decebals commented on #219
On java 7 I received an error:

[code]

I must comment my last commit.

[2015-10-05 10:20] balamaci commented on #219
I used
<configuration>
         <failOnError>false</failOnError>
</configuration>
and it worked for both java7 and java8.

I think it's better as it works without any additional reading from the user.

[2015-10-06 12:24] #219 closed

[2015-11-16 09:44] #209 closed

[2015-11-27 09:44] #204 closed

[2015-11-29 16:28] gitblit opened #228 "Versioning public resources"
It would be nice to somehow inject a version code into the public resource urls.  This would force browsers to always fetch updated CSS or JS files, for example.

[2015-12-11 12:34] decebals opened #230 "Create distribution zip file with `mvn package`"
See [this](https://groups.google.com/forum/#!topic/pippo-java/Jtv_3skbozU) discussion on forum.

[2015-12-17 15:14] gitblit opened #232 "Update to Pebble 2.1"
Pebble updated to 2.1 and has breaking API changes.  It's probably a simple change, but I haven't investigated.

[2015-12-27 23:01] decebals opened #233 "Server static resources from the *root* url"
See https://groups.google.com/forum/#!topic/pippo-java/P9XlmtrmaxA

[2015-12-27 23:03] #233 closed

[2015-12-27 23:09] decebals commented on #233
[code]

[2016-01-06 19:14] decebals commented on #139
Done

[2016-01-06 19:14] #139 closed

[2016-01-06 19:16] decebals commented on #228
Done

[2016-01-06 19:16] #228 closed

[2016-01-06 19:16] decebals commented on #230
Done

[2016-01-06 19:16] #230 closed

[2016-01-08 13:30] decebals opened #235 "Improve the configurability of core"
The idea is to make the core configurable via DI (Guice, Spring, ...).
For more information see [this](https://groups.google.com/forum/#!topic/pippo-java/Yr6Q-jM8PNE) post.

[2016-01-22 17:17] barrantesgerman opened #236 "pipo-jetty problem in version 0.7.0 and higher"
When I built with the Maven archetype
[code]

And Run:

[code]

I get

[code]

I changed in the pom pipo-jetty by pippo-undertow and it work fine

[2016-01-22 17:23] barrantesgerman commented on #236
Sorry, it was my mistake, I was using JRE JRE 7 instead of 8
I saw this later
http://stackoverflow.com/questions/10382929/how-to-fix-unsupported-major-minor-version-51-0-error

[2016-01-22 17:27] #236 closed

[2016-01-24 16:14] decebals opened #237 "Add declarative approach"
See https://github.com/gitblit/fathom/issues/8

[2016-01-27 21:33] gitblit commented on #123
Pebble is so good that I can't imagine ditching it.  Closing issue.

[2016-01-27 21:33] #123 closed

[2016-02-09 03:16] thiagolocatelli opened #244 "Accessing application.properties"
Is there a way to access the application.properties from anywhere within the application? For example, I wanted to use some of the entries I have from a spring boot application to create a DataSource to be used with my repositories. Of course I will have to do it programmatically by getting each property and setup the DataSource, but does the framework provide me a way to get the entries from the

[2016-02-09 08:31] decebals commented on #244
Are many possibilities to access `application.properties`.
One possibility is to use `Application.get().getPippoSettings()`. Other possibility is to create `DataSource` in Application.onInit() because in Application you have access at settings.

[2016-02-09 12:36] thiagolocatelli commented on #244
That's what I needed, thank you! Gonna try using Dagger 2 with Pippo now!

[2016-02-09 12:36] #244 closed

[2016-02-09 13:11] decebals commented on #244
Good. You are welcome.

You can take a look on https://github.com/decebals/pippo/tree/master/pippo-guice, http://www.pippo.ro/mod/guice.html and https://github.com/decebals/pippo-demo/tree/master/pippo-demo-guice.
Also, maybe https://groups.google.com/forum/#!topic/pippo-java/Yr6Q-jM8PNE inspire you to customize Pippo via Dagger 2.

Have fun!

[2016-02-12 11:37] ScienJus opened #248 "some question about routing"
from a post on google group: [link][1]

**question 1:**

can `{id}` match the empty string?, until now it can, like:

[code]

i think it's wrong, `{id}` should be having a default regex like `{id: \w+}`, make sure it will not match an empty string

so i modified `DefaultRouter.VARIABLE_ROUTES_DEFAULT_REGEX` from `([^/]*)` to `([^/]+)`.

**question 2:**

should we add the priority into Route or Pat

[2016-02-12 14:16] gitblit commented on #248
No. The order of defined routes implies the priority.

[2016-02-12 14:40] decebals commented on #248
I think that is OK to force the path parameter for a route to be not empty. @gitblit what is your opinion?

[2016-02-12 16:58] gitblit commented on #248
I'm probably using the existing (short-cut) behavior to avoid registering the same route multiple times with different expressions; changing that may cause me some pain, but that's my problem.

For Pippo, my instinct is requiring a non-empty path parameter value is logical and reasonable.  The proposal by @ScienJus  of `*` to `+` is how I would change it.

[2016-02-12 17:23] decebals commented on #248
@ScienJus Can you supply a PR?

[2016-02-12 17:34] ScienJus commented on #248
OK, wait a minute, after regex PR,

[2016-02-15 14:54] decebals commented on #237
I created a [branch](https://github.com/decebals/pippo/tree/improve_contoller). I have a little issue in DefaultControllerHandler (I don't find a good solution to remove the Guice Injector so the code doesn't pass the compile phase).
For now I don't have enough time to finish the work so any help is welcome.

[2016-02-15 15:13] decebals opened #251 "Visibility of Route.inGroup method"
I feel that `Route.inGroup` method cannot be public.
I want to prevent something like `Application.GET("myPath", myRouteHandler).inGroup(myGroup)`. I prefer to have a one way to do add route to a group:
[code]

One the other hand maybe it's a good idea to collect all routes via `GET, POST, ...`, `addRoute`, `addRouteGroup` in a collection (probably in Router) and to make the "real work" to the end

[2016-02-16 02:21] ScienJus commented on #251
i agree with you, in my idea, we don't need to maintain the relationship  between `RouteGroup` and `Route` after removed `inGroup` method, just concat `group.uriPattern` and `route.uriPattern`, like:

[code]

i think it's means that `RouteGroup` more like a helper or a utils to make create route easier
, and i like this way

[2016-02-16 08:36] decebals commented on #251
Right now we cannot compute `Route.absoluteUriPattern` in `RouteGroup.addRoute()` and we must do this computation on `Route.getAbsoluteUriPattern()`, method that is triggered by `Route.getAbsoluteUriPattern()`. We need a lazy computation because in my opinion we are too flexible in route group API.

For example with the actual API I can add a route in many ways.

[code]

Also other "not so natural

[2016-02-16 08:52] ScienJus commented on #251
yes! at first i created `inGroup` method just because this comment

This functionality is on our roadmap (https://groups.google.com/forum/#!topic/pippo-java/ocmVEJ7oLw8) but I don't decide how to show the API from this feature in the final form.
My idea is to have a clean and simple API that does not require too much documentation.

GET("{id}", routeContext -> { ... }).group(usersGroup);
POST("{id

[2016-02-16 09:27] decebals commented on #251
Nothing else. Put the `parent` group in constructor of `RouteGroup`. Also we must have a `RouteGroup` without parent parameter (groups on first level without parent, or parent null). Push all logic in Router and not in Application. On `addRouteGroup` we must add group's routes as individual routes in router.
I don't know for moment If we must keep a reference to RouteGroup in Route (`getGroup()`)

[2016-02-16 14:42] gitblit commented on #237
I'll try to take a look later this week.

[2016-02-16 17:32] #248 closed

[2016-02-16 18:48] decebals commented on #237
Thanks James! It's not an easy task but it's important.

[2016-02-17 17:49] decebals opened #253 "Named route group"
The idea is that we add a new `named` method on `RouteGroup` similar with the same method from `Route`.

Show me the code:

[code]

The idea is that the route name is prefixed automatically with the group name.
Now, you may use the route's name when generating URLs or redirects:

[code]

In my example I used `.` as separator but you can use any character or string.

What you think?

[2016-02-17 21:19] gitblit commented on #253
Yeah, I think that is good.

I also think we should consider doing deferred Route addition.

1. Observe the return type of any of [these methods](https://github.com/gitblit/fathom/blob/master/fathom-rest/src/main/java/fathom/rest/RoutesModule.java#L207).
2. Which is [this](https://github.com/gitblit/fathom/blob/master/fathom-rest/src/main/java/fathom/rest/RouteRegistration.java#L37) class.
3. And

[2016-02-18 09:08] #251 closed

[2016-02-18 10:22] decebals opened #254 "Ideas for Route improvement"
I want to move the discussion started by https://github.com/decebals/pippo/issues/253#issuecomment-185409221 here.

I will copy/paste the content of comment

I want to say that from my review of RouteGroup implementation made by @ScienJus I observed that we must add the routes (DefaultRouter) in two steps:
1. `collect` all routes in Router (we can create a separate entity `RouteCollection` but for

[2016-02-18 11:04] ScienJus commented on #254
it's great, `Route` and `RouteGroup` should be the tools to help people creating routes, then the real route will be only responsible store the metadata and used in url mapping.

[2016-03-01 23:04] icirellik opened #256 "Date Param Support"
I'm trying to pass a Date in as a parameter to a controller and can't seem to find any examples on how this should work. After some digging through the code I noticed a second annotation `@ParamPattern`, do I need to set a pattern for to make this work?

[code]

[2016-03-02 11:12] decebals commented on #256
For now, `@ParamPattern` is used only inside of the entity object (POJO).

For example (it's a pseudocode):
[code]

and now you can use
[code]

We try to improve the controller module with #237 (probably in the next version you will have this improvement). For now I will review the solution proposed by @ScienJus in #257.

[2016-03-02 14:07] icirellik commented on #256
This is exactly what I needed, thanks. This works for now.

[2016-03-03 21:56] danjee commented on #237
This will be interesting

[2016-03-08 11:45] ahfa-noitso opened #258 "Optional logo display in PippoFilter"
I've started to use Pippo and I really find it a great piece of work.
Just a very tiny enhancement, can we have a system property option that allows showing/hiding the Pippo logo displayed by the PippoFilter in the logs? or give us some control to show/hide it easily instead of having to override the whole init() method. I'm not sure if keeping it hard coded is intended or not, but if it's not the

[2016-03-08 19:05] #258 closed

[2016-03-08 19:06] decebals commented on #258
Use `pippo.hideLogo` property (for example ` -Dpippo.hideLogo` from command line).

[2016-03-09 11:45] ahfa-noitso commented on #258
Thank you for the answer :)

[2016-03-19 20:48] decebals commented on #237
I will try to finish work to this feature in next days.

[2016-03-19 22:49] decebals opened #259 "Add CrudRoutes (or a better name)"
`CrudRoutes` (or a better name) is a subclass of RouteGroup that add routes for **Create**, **Retrieve**, **Update**, **Delete** operations.
For more information please see https://github.com/decebals/matilda/issues/1#issuecomment-198799065.
Maybe the people that use CRUD with Pippo will chose the Controller approach (that will be improved in the next versions), I think that this helper class can

[2016-03-19 23:04] decebals opened #260 "Add route method helper in templates"
In my applications based on Pippo I feel that I'm missing a `route(<template_name>, paramId_1:paramValue_1, ...)` method in my html templates.
For example, in [companies.peb](https://github.com/decebals/matilda/blob/master/src/main/resources/templates/admin/views/companies.peb) file I have something like:

[code]

and I wish something like (pseudo code):

[code]

and in `.java` file (I will don't

[2016-04-04 19:01] decebals commented on #254
I push some code (on a separate branch) related to this issue. The status is work in progress. I am a little busy with my new job but I wish to show you my early code because you can give me a feedback if I am on the right direction or not.
My next step is to try to use a `CompiledRouteTransformer`class  to implement metrics and route group (to validate the concept). After this, if you see value i

[2016-04-07 09:41] decebals commented on #254
I want to add more information about what I want to achieve with this modification.
I think that nowadays is good to be more declarative (see SpringBoot) and I like the result of [Fathom-Rest](http://fathom.gitblit.com/rest) (a wrapper around Pippo). In conclusion, I wish to transform `pippo-controller` module in something similar with `fathom-rest` and to preserve the `pippo-core` (for people tha

[2016-04-14 20:58] JPercivall opened #262 "Errors Configuring Underlying Tomcat Server to use HTTPS without Client Auth"
The problem arises when the keystore is properly set (location, password and alias) but no truststore is set. I get a file not found exception because it's looking for a file with name "null" (stack trace at end).

Also of note, Tomcat isn't currently using the truststore because TomcatServer.java isn't set to use ClientAuth[1]. It would be nice to have this exposed as a TomcatSettings Property.

[2016-04-14 21:26] decebals commented on #262
Now the "clientAuth" attribute is configurable. Also I released a new SNAPSHOT version.
Please tell me if you need other modifications.

[2016-04-14 21:31] JPercivall commented on #262
Awesome, I may just be missing it but does this address the other part of the issue that not passing in a truststore currently leads to errors?

[2016-04-14 21:38] decebals commented on #262
I don't use Tomcat in my projects so I am not a Tomcat expert. Maybe @danjee can help us.

[2016-04-14 21:45] JPercivall commented on #262
My guess would be that you only set them when client auth is used, like so:

[code]

[2016-04-14 21:57] decebals commented on #262
I cannot test your code. Please fork Pippo, make modifications and test these modifications on your computer. If everything is OK please submit a PR or tell us what is wrong in the actual code.

[2016-04-14 23:14] robertoestivill opened #263 "Thread model?"
Hello everyone,
Im investigating Pippo for some projects and I couldn't find any information about the threading model.
And by that, I mean how are routes/controllers instantiated and maintained throughout the request/response/process lifecycle, in order to ensure code thread safety.
As a developer, do I have to worry about thread safety at all ? or thread safety is provided by the framework (like

[2016-04-15 02:12] ScienJus commented on #263
I don't think you need to worry about thread-safety as long as you do not use instance variables in Route/Controller

[2016-04-15 02:49] robertoestivill commented on #263
Right, but what if you do? An example would be any heavy/long initialization object: like a connection pool for example. Maybe It makes sense to create it only once and reuse between executions, instead of creating the connection every time the controller is executed. I am not saying this is the case of pippo, but because I do not know what the model is, i can not be sure.
I guess the question is

[2016-04-15 03:17] danjee commented on #262
I will have a look at it. If your stores are self signed would you please share them with us. Thank you

[2016-04-15 06:11] ScienJus commented on #263
I have a mistake in last comment, in pippo Route is a singleton instance, but Controller will be created a new instance for each request and thread. so if you have some heavy/long initialization object for a handler, you can create it in Route, but if you need to use it in Controller, you should give a singleton instance or use ioc container like [pippo-spring][1]

[1]: http://www.pippo.ro/mod/spr

[2016-04-15 18:52] decebals commented on #262
@JPercivall If the issue is resolved please close it.

[2016-04-15 18:57] JPercivall commented on #262
Closing - Thanks @decebals

[2016-04-15 18:57] #262 closed

[2016-04-15 19:17] decebals commented on #263
Information posted by ScienJus is right. If you need more details please let me know. Also, if you see some improvements I would be happy to encapsulate them.
I will improve the documentation related to this subject.

[2016-04-15 19:20] decebals commented on #262
You are welcome!
I updated the SNAPSHOT version to contain this fix.

[2016-04-18 15:15] JPercivall opened #265 "JettyServer attempts to use keystore password as truststore file path"
On this line it should pass the truststore file path and not the keystore password:

https://github.com/decebals/pippo/blob/93f71655481f3133310019317d90467485f37e1f/pippo-jetty/src/main/java/ro/pippo/jetty/JettyServer.java#L125-L125

[2016-04-18 15:18] danjee commented on #265
You are right! Thanks for notice. I will create a PR shortly!

[2016-04-18 16:10] decebals commented on #265
It's an issue generated by a copy/paste :smile:

[2016-04-18 18:47] #265 closed

[2016-04-18 19:04] JPercivall commented on #265
Looks good, thanks @decebals

[2016-04-30 03:42] aymer opened #269 "Freemarker template reloading not working in dev mode"
Hi,

Not sure if I'm doing something wrong, but I'v set the pippo.mode to 'dev' and I'd expect templates to be autoreloaded on edit (as per doc) but doesn't seems to be, I've to restart server to see it reflected.

2016-04-30 11:38:30.983 [XNIO-1 task-1] INFO  ro.pippo.core.PippoFilter - Pippo started (DEV)

I could see the same behavior with https://github.com/decebals/pippo-demo/tree/master/pipp

[2016-04-30 08:40] decebals commented on #269
When you start Pippo in `DEV` mode, the templates cache is disabled.
I encountered the same issue in my first projects because in IDEA IntelliJ (my IDE), on `Ctrl-S` the IntelliJ only saves the content in the file but this is not enough. In my case `Ctrl-Shift-S` (compile the current file) resolves the problem (I think that on compile the IntelliJ updates the classes folder). You can map the Ctrl-

[2016-05-01 09:18] aymer commented on #269
Yes, thanks for the hints, it did the trick!

[2016-05-01 12:51] #269 closed

[2016-05-03 19:03] decebals opened #271 "Hot reload"
https://groups.google.com/forum/#!topic/pippo-java/rnG3ZqKRW0c

[2016-05-03 21:02] decebals commented on #254
I updated branch [compiled_route](https://github.com/decebals/pippo/tree/compiled_route) with commit f362d818cb3736a4d09d30729e0b65ba82432b2c that show you the `CompiledRouteTransformer` (MettricsTransformer) in action.
So, I can use the annotation approach (see MetricsTransformer) or the `Route.bind` approach (non annotation).
I believe that Route -> Router.compileRoutes() -> CompiledRoute -> tra

[2016-05-09 10:54] mmadson opened #272 "Improve / Add javadoc"
For example, I'd like to use my IDE to bring up the javadoc for the ALL() method on Application and have it explain what ALL actually means. Instead, I needed to dig into the code before I realized that ALL meant the route applied to all http methods.

[2016-05-09 12:19] decebals commented on #272
Sure. The javadoc (and the unit tests) must be improved. My time (for the moment) on open source projects is a bit limited so I would be grateful if anyone can help in this direction.

[2016-05-09 18:10] mmadson commented on #272
Apologies for being soo terse, I was in a bit of a rush but I wanted to make sure I could track the issue. Pippo looks very promising. I've evaluated it as well as Spark and I'm far more impressed with Pippo's parameter handling than Spark's so I hope Pippo will take off. That said, I think Javadoc is important for ensuring broader adoption. If I'm able find some free time to help out, I'll surely

[2016-05-09 19:13] decebals commented on #272
No problem. I understand you.

Thanks. Pippo has many nice features (unfortunately some of which are incompletely documented or undocumented), it's a mature framework but not so popular as Spark.

Yes, I'm aware about the importance of Javadoc and I will try to improve that component. Time is my main opponent.

[2016-05-17 17:49] decebals opened #273 "Jetty and PippoTest"
I have a problem using Jetty, start the test and the test don't do anything, I believe that problem is caused by to the asm library.

For more info see https://groups.google.com/forum/#!topic/pippo-java/N-3GMVsXZW8

[2016-05-17 17:57] decebals commented on #273
I can reproduce this issue using a RouteTest in [pippo-demo-basic](https://github.com/decebals/pippo-demo/tree/master/pippo-demo-basic) module from pippo-demo project.
The problem is this line from JettyServer.start() method:
[code]
from [JettyServer]( https://github.com/decebals/pippo/blob/master/pippo-jetty/src/main/java/ro/pippo/jetty/JettyServer.java#L74)

If I comment this line the tests pass

[2016-05-17 19:48] amalagaura opened #274 "customize jackson objectMapper"
I wanted to use JacksonMixInAnnotations to customize the serialization of JSON objects which I cannot control via annotations. It means I need access to the objectMapper instance.

Objectmapper is available via the getObjectMapper method implemented by JacksonJsonEngine.

If I want to override it, do I need to duplicate the JacksonBaseEngine code from pippo-jackson and then add another service ini

[2016-05-17 22:05] decebals commented on #274
@gitblit Can you take a look please?

[2016-05-18 03:00] Shujito opened #275 "Support for websockets!"
Hello, is there a plan on supporting websockets?
Or a way to work it around? e.g. extract the jetty server and configure it outside.
Thanks for reading

[2016-05-18 07:07] decebals commented on #275
I will think for a possible and simple approach. The idea is that Pippo comes with support for many servlets containers (undertow, tomcat, ...) and Jetty is one of these so we must to find a generic approach. Any idea is welcome.

[2016-05-18 12:24] gitblit commented on #274
@amalagaura I would...

1. include the `pippo-jackson` dependency
2. subclass `JacksonJsonEngine` and override `getObjectMapper()`
3. call `application.getContentTypeEngines().setContentTypeEngine(new CustomJacksonEngine())`;

[2016-05-18 12:25] #232 closed

[2016-05-18 14:06] amalagaura commented on #274
Thank you. That was my first thought as well, but I was concerned it would register multiple contentTypeEngines because of the initializers.

But I think you are saying that the pippo-jackson would get initialized and register the default but my code would be in my application therefore since setContentTypeEngine writes to a map it would just get overwritten. (sorry, thinking out loud I guess).

t

[2016-05-18 14:06] #274 closed

[2016-05-19 08:10] decebals commented on #275
Last night, I started working on this feature and the implementation is almost done for Jetty. I created a tiny layer to abstract some basic concepts (WebSocketFilter extends PippoFilter, WebSocketProcessor/Handler, WebSocketConnection, ...). I will propose an API and an implementation for Jetty with a PullRequest.
All I want to do related to this feature (and coming features) is to preserve the s

[2016-05-19 15:01] gitblit commented on #275
Nice! Looking forward to seeing your solution.

[2016-05-20 17:46] barrantesgerman commented on #273
Hello

I investigated about `server.join();` from the `JettyServer.start()` and `tomcat.getServer().await();` from the `TomcatServer.start()`

[2016-05-20 18:28] barrantesgerman commented on #273
Hello

I investigated about `server.join();` from the `JettyServer.start()` and `tomcat.getServer().await();` from the `TomcatServer.start()`

In both cases the methods call [Thread.join()](http://docs.oracle.com/javase/1.5.0/docs/api/java/lang/Thread.html#join%28%29) and block the main thread of JUnit until the web server thread stops and release the main thread.

I searched how to make JUnit not

[2016-05-22 20:23] robertoestivill opened #277 "techempower benchmark ?"
I think that it would be great to have pippo in the Techempower benchmark.

https://www.techempower.com/benchmarks

It will not only help to get pippo known (a lot of devs use that site to choose technologies/frameworks), but also to be compared with lot's of other technologies.

What do you think?

[2016-05-23 07:16] decebals commented on #277
I think that it's a good idea. I am curios to see how Pippo compares with other technologies. For me the big problem is the time. For example, I opened a new branch for each #275, #254 and #237 and I don't find time to finish them.
I will take a look to see how much effort is for to add Pippo to techempower benchmark.

[2016-05-23 13:56] robertoestivill commented on #277
Thanks for the quick response :)
I understand. Time is a precious good nowadays.

Here are the guidelines on how to create the tests: https://www.techempower.com/benchmarks/#section=code

I will take a look and see if I find the time to help out with this. Some of the tests look pretty trivial, but I don't know much about pippo.

[2016-06-28 12:30] decebals opened #291 "Create pippo-css-parent"
Move pippo-less4j and pippo-sasscompiler in a new pippo-css-parent (or a better name) maven module.

[2016-06-28 18:18] sl33nyc opened #293 "JettyServer.start() blocks due to Jetty server.join()"
This is related to #273.

Using v0.8, I want to start up some background threads that depend on the web server being fully started, but the call to JettyServer.start() also blocks the main thread from initializing any web server dependencies.  The Spark micro web service framework handles this using a [`CountDownLatch`](https://github.com/perwendel/spark/blob/master/src/main/java/spark/embeddedser

[2016-06-29 06:43] decebals commented on #293
I have a solution. I will resolve today the issue.

[2016-06-29 11:57] decebals commented on #293
Can you help me with a minimum unit test?

[2016-06-29 18:33] decebals commented on #293
@sl33nyc, @barrantesgerman Please try the fix. I updated the SNAPSHOT.
I will make some tests to see if I must to do the same thing for Tomcat. I know that Undertow is not affected by this behavior.

[2016-06-29 19:28] decebals commented on #293
I tested all servers (jetty, tomcat, undertow and tjws). Everything is OK. I am impressed to see that the tiny TJWS makes a good job :smile:

[2016-06-29 21:36] sl33nyc commented on #293
👍

[2016-06-30 01:56] barrantesgerman commented on #293
Sorry, this week I've been kind of busy but I'll try the fix

[2016-07-01 09:12] ab2971082 opened #295 "routeMatch.getPathParameters() always not null"
I found the class DefaultRouteContext's method next() has  a bug!

  **Map<String, String> pathParameters = routeMatch.getPathParameters();
            if (pathParameters != null) {**

pathParameters always not null because in class DefaultRouter :

 **private Map<String, String> getParameters(PatternBinding binding, String requestUri) {
        if (binding.getParameterNames().isEmpty()) {

[2016-07-01 12:39] gitblit commented on #295
The full context is....
[code]

Nothing wrong with setting an empty collection into the `Request` so at worst this is an unnecessary safeguard for the `DefaultRouteContext` but since `RouteContext` is pluggable, other implementations could return `null`.

Not a bug, but thanks for the report.

[2016-07-01 12:39] #295 closed

[2016-07-02 02:07] ab2971082 commented on #295
I want add parameters extra when use Filters. ex:
 ALL("/v2.*", routeContext -> {
            **String token = routeContext.getHeader("token");
            if (token == null) {
                routeContext.getResponse().json().send(new Result(100, "login fail"));
                return;
            }
            LoginSession loginSession = LocalCache.get(token);
            if (loginSession == nul

[2016-07-02 02:12] ab2971082 opened #296 "红丸"

[2016-07-02 02:12] #296 closed

[2016-07-02 02:17] ab2971082 opened #297 "How can I reset fastjson's SerializerFeature?"
I found  the method toString(Object object) in FastjsonEngine.
**JSON.toJSONString(object, SerializerFeature.UseISO8601DateFormat);**
How can I use other SerializerFeature ？ For example SerializerFeature.WriteMapNullValue.

[2016-07-02 06:36] decebals commented on #297
It's something similar with https://github.com/decebals/pippo/issues/274.

[2016-07-02 06:47] decebals commented on #295
@ab2971082 Your approach is incorrect. In few words, the pathParameters map must be immutable in theory. That map is created by framework from a http request and cannot be modified in application.
The correct approach is to use [Locals concept](http://www.pippo.ro/doc/locals.html) to pass values from a route handler to other route handler.

[2016-07-02 13:37] ab2971082 commented on #295
ok , thanks!

[2016-07-02 13:38] ab2971082 commented on #274
ok, thanks!

[2016-07-02 19:48] barrantesgerman commented on #293
Sorry for taking so long, I've been kind of busy.

I did some tests and I think that all is well.

I would like to share the test is performed if help someone else.

https://github.com/barrantesgerman/pippo-test-server

I discovered two interesting things about Rest Assured

* If you want to test using the session, you must add:
[code]
* If you want to test using any of the pippo-session modules,

[2016-07-04 07:35] decebals commented on #293
@barrantesgerman Thanks

[2016-07-04 18:44] decebals commented on #297
Is it the problem  solved? Could you close the issue?

[2016-07-04 18:44] #293 closed

[2016-07-04 18:48] #291 closed

[2016-07-04 18:49] decebals commented on #256
Is it the problem solved? Could you close the issue?

[2016-07-04 18:51] #273 closed

[2016-07-14 16:27] ayedo opened #298 "WebJars and UberJars"
Hello,

first of all: thanks for your great work on Pippo!

I use the maven-shade plugin to create a single executable jar of my Pippo application.

When I start the application, the WebjarsResourceHandler looks for jars which have 'META-INF/resources/webjars' folders. In the case of an uber jar, it only finds one such resource, the uber jar itself. It then proceeds to expose every single dependen

[2016-07-14 17:47] gitblit commented on #298
I haven't tried packaging Pippo with the Shade plugin.  Have you @decebals ?

[2016-07-14 18:10] decebals commented on #298
I didn't used the Shade plugin. My approach to run a standalone web application built with Pippo is to create an `app.jar` with a special manifest that contains the main class and the classpath (all dependencies are located in a `lib` folder).
So, the application layout at runtime is:
[code]
To run the application you must execute `java -jar app.jar` from command line.

For more info see [1] and [

[2016-07-14 18:31] ayedo commented on #298
Thanks! Number [1] worked for me.

[2016-07-14 18:31] #298 closed

[2016-07-25 13:19] yan5 opened #299 "Encrypted/signed cookie based session"
Hi
As discussed over google group, please merge the branch in which you already implemented the encrypted/signed cookie based session to master.
Thanks a lot
Yans

[2016-07-25 18:32] #297 closed

[2016-07-25 22:34] decebals commented on #299
Read [Session](http://www.pippo.ro/doc/session.html) section from documentation to find how you can set a custom `SessionManager` for your application.

[2016-07-25 22:36] decebals commented on #299
I updated the SNAPSHOT on sonatype

[2016-07-26 00:08] yan5 commented on #299
That was fast! Thank you,

does this section in the doc still holds true?

If you want a (custom) session manager in your application then you must inject that manager with:
application.setSesionManager(new SessionManager());

Thanks

[2016-07-26 05:58] decebals commented on #299
See [here](https://github.com/decebals/pippo-demo/blob/master/pippo-demo-session/src/main/java/ro/pippo/demo/session/SessionApplication.java#L64) the session demo application.

I must do a review of Session section.

[2016-07-26 07:29] decebals commented on #299
By the way, Pippo comes with a lot of implementations for Session (ehcache, mongodb, hazelcast, ...). See [here](https://github.com/decebals/pippo/tree/master/pippo-session-parent) the full list.
Thannks @barrantesgerman.

[2016-07-26 18:39] decebals commented on #299
@yan5 Please test the current implementation and if it's OK for you please close it.

[2016-07-26 22:51] #299 closed

[2016-07-27 17:58] barrantesgerman commented on #299
Hello @decebals

Thanks for the constant improvements

I was thinking if everything related to encryption should be in a new implementation of `SessionDataTranscoder`.

Would I like to know your opinion?, and if you agree, I could make the change

[2016-07-27 19:27] decebals commented on #299
@barrantesgerman I understand what you say. The idea is not bad. We can use for implementation the wrapper/decorator (pattern) over a regular `SessionDataTranscoder` (it's only an idea).
I don't know if it's so valuable for other session implementation but I think that we can do it, so please propose an implementation.

[2016-07-27 21:21] DanStout opened #301 "Maven dependencies require <type>pom</type> even though they are packaged as jar?"
This very similar to an issue as someone else had on the [Google group](https://groups.google.com/forum/#!topic/pippo-java/Jtv_3skbozU), but the provided solution does not work without some additional changes to the pom.xml file, which seem like they should not be required.

After packaging the project as a .zip and extracting it, the pippo-controller jar is stored at `lib/pippo-controller-0.9.0-S

[2016-07-30 11:41] decebals commented on #301
I think that It's something related to Maven.
I tested on Pippo demo project, [Matilda](https://github.com/decebals/matilda) and I see that I have the same problem.
My steps:
- `git clone https://github.com/decebals/matilda.git`
- `cd matilda`
-  `mvn clean package`
- `mkdir  dist`
- `unzip target/matilda-0.1.0-SNAPSHOT.zip -d dist`
- `cd dist`
- `java -jar matilda-0.1.0-SNAPSHOT.jar`

The excepti

[2016-07-30 12:05] decebals commented on #301
See http://stackoverflow.com/questions/10525231/maven-snapshot-jar-file-names-not-consistent-using-maven-assembly-in-manifest-fi

[2016-07-30 14:47] DanStout commented on #301
Interesting! I'm surprised Maven has such a bug. Well, this workaround seems to work:

* Add `<outputFileNameMapping>
${artifact.artifactId}-${artifact.baseVersion}${dashClassifier?}.${artifact.extension}
</outputFileNameMapping>` to assembly.xml inside `<dependencySet>` to ensure the .jar files do not have the timestamp in their names
* Add `<useUniqueVersions>false</useUniqueVersions>` to the ma

[2016-07-30 20:53] decebals commented on #301
Thanks that you share us the solution to this issue.

Will be great and valuable for other developers.
I like to run my web application as a normal console/desktop application without to worry about the web server, web.xml and other things like these.
If you have some time please add some words about this subject in [documentation](https://github.com/decebals/pippo-site) .

Are some topics related

[2016-08-07 14:27] robertoestivill commented on #277
Hi @decebals
I had some time lately and decided to give this a go.
I have implemented all 6 tests for MySQL and PostgreSQL using Undertow as the server.

I have a fork of the benchmark repo here (branch pippo, directory frameworks/Java/pippo-undertow):
https://github.com/robertoestivill/FrameworkBenchmarks/

To Do

- Add test config, setup, etc.

Nice to have

- Implement Dao.java for Mongo db.
-

[2016-08-08 10:33] decebals commented on #277
I will take a look. Thanks.

[2016-08-08 11:57] robertoestivill commented on #277
Actually, I had some time yesterday, the mongo dao has been implemented too.
Cheers

[2016-08-08 20:55] decebals commented on #299
@yan5 We made a little refactoring related to this subject. Please see https://github.com/decebals/pippo/pull/302

[2016-08-08 21:10] robertoestivill commented on #277
Everything is on the pippo branch by the way.
Also, Im failing to run the integration test against the fat-jar (but works fine in intellij) with this exception

https://gist.github.com/robertoestivill/2694652187c846fb041409c14799d80e

Any idea?

[2016-08-11 19:26] decebals commented on #277
I finished the review of your code. The code looks good (clear and fast).
For this kind of benchmark I see three zones where you can gain or loose the battle:
- database integration
- server (servlet container: undertow, jetty, tomcat, ...)
- web framework

So, in theory you can have a good web framework but with a bad database integration and/or server you loose the battle.

Your implementation i

[2016-08-12 11:51] gitblit commented on #277
@robertoestivill Thanks for taking this on.  I am interested to see where we fall whenever this gets merged and they re-run the tests.  At my employer we are seriously considering ASP.NET Core for a new project so I am doubly interested to see how we fare against that (I believe MS implemented the code for techempower so ASP.NET Core should be on the next run of tests too).

As for packaging/deplo

[2016-08-12 14:22] #301 closed

[2016-08-12 17:33] robertoestivill commented on #277
Thank you both for your feedback.

I will be trying the assembly packaging option during this weekend. I really want to have that integration test running without errors.

@decebals  As for the container, I would love to have the test running on all supported servers. Is there any way to configure the server implementation at runtime?

If not, I was thinking about having a base module with the com

[2016-08-12 18:14] gitblit commented on #277
You could subclass Pippo and override [`getServer()`](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Pippo.java#L57-L71).

You would replace the `ServiceLocator` call with something that instantiates your desired server implementation. e.g. `UndertowServer`, `JettyServer`, etc.

[2016-08-12 19:12] etemelkuran opened #304 "undertow update"
current: 1.3.15
https://github.com/undertow-io/undertow/releases/tag/1.4.0.Final

[2016-08-12 22:39] decebals commented on #277
Added method `setServer(WebServer server)` in the `Pippo` class.

[2016-08-13 09:57] etemelkuran commented on #277
Why you need seperate benchmark? you can check servlet+jetty or servlet+undertow and assume.

[2016-08-13 11:49] robertoestivill commented on #277
@etemelkuran because if you select any of the alternatives you mentioned, you will not be including pippo's overhead as a framework into account.

[2016-08-13 13:16] etemelkuran commented on #277
sure you're right but it will not cost much.
i still can't understand java, golang is much easier :dancers: .
https://www.techempower.com/benchmarks/#section=data-r12&hw=peak&test=plaintext

[2016-08-13 20:19] decebals commented on #304
Also, I updated Pippo SNAPSHOT on sonatype.

[2016-08-13 20:19] #304 closed

[2016-08-13 23:07] robertoestivill opened #305 "Trimou TEMPLATE_LOCATOR_INVALID_CONFIGURATION running fat jar"
While developing the [benchmark](https://github.com/decebals/pippo/issues/277) I came across this issue while running a fat jar like

[code]

[code]

I changed the jar creation maven plugin to use the [official method](http://www.pippo.ro/doc/deployment.html), but the issue still remained.

I tested the same packaging configuration with a different template engine (pippo-peble) and everything work

[2016-08-14 10:44] decebals commented on #305
I will try to take a look. Everything related to Trimou in Pippo is in [TrimouTemplateEngine](https://github.com/decebals/pippo/blob/master/pippo-template-parent/pippo-trimou/src/main/java/ro/pippo/trimou/TrimouTemplateEngine.java) class.
My idea is to configure somehow the Trimou. I think that the main mechanism to do that is via `init(Application application, MustacheEngineBuilder builder)` meth

[2016-08-14 10:50] decebals commented on #305
Useful links:
https://github.com/decebals/pippo/pull/212#issuecomment-136359578
https://github.com/decebals/pippo-demo/blob/master/pippo-demo-template/src/main/java/ro/pippo/demo/template/PebbleDemo.java#L41

[2016-08-14 12:07] decebals commented on #305
In conclusion you can set your `CustomTrimouLocator` in Trimou via `TrimouTemplateEngine. init(Application application, MustacheEngineBuilder builder)`. Also we can modify the actual `PippoTemplateLocator` to extends `ClassPathTemplateLocator` but I don't know the impact for the application that already used Trimou template engine.

[2016-08-14 13:27] robertoestivill commented on #305
Thanks for your speedy follow up on this :)
Obviously backward compatibility is important and I wouldn't risk it either.
I guess that It would be nice to have a `TrimouTemplateEngine` that works out of the box without having to do any custom initialization, but I can live with that.
Thanks again!

[2016-08-14 14:34] gitblit commented on #305
I think it was a mistake to use `FileTemplateLocator` and it should be corrected.

[2016-08-21 01:22] maurits150 opened #306 "Length issues with unicode characters."
Hi,

First thanks for creating this framework.

I'm having issues where sending a string with specials characters seems to have it's length calculated incorrectly.

[code]

The arrow is & raquo;

The client browser receives this:

[code]

How can I solve this issue?

I'm on 0.9.0-SNAPSHOT using tomcat. This issue did not happen in version 0.8.0.

[2016-08-21 01:30] maurits150 commented on #306
I see this line was added during the chunked transfer-encoding commit.

https://github.com/decebals/pippo/commit/bafb890b80dfbe7da8af42f408fbecc2dfdc9a67?diff=split#diff-1139f570296eedff92a5c1cb05865c24R1055

The length calculation could be going wrong here?

[2016-08-21 07:20] decebals commented on #306
I will take a look.

[2016-08-22 20:00] #306 closed

[2016-08-22 20:05] decebals commented on #306
In few words for string content the method `Response.contentLength(int length)` must contain the bytes length and not the characters length.
For more info see http://stackoverflow.com/questions/2773396/whats-the-content-length-field-in-http-header

[2016-08-22 21:22] decebals commented on #305
I committed a possible fix. I tested the modification on [TrimouDemo](https://github.com/decebals/pippo-demo/blob/master/pippo-demo-template/src/main/java/ro/pippo/demo/template/TrimouDemo.java) and everything seems OK.
The modification is minor, I changed our `PippoTemplateLocator` with the builtin `ClassPathTemplateLocator`.

@robertoestivill Please let me know if the modification resolve your u

[2016-08-23 11:59] gitblit commented on #306
Nice catch!

[2016-08-23 12:01] gitblit commented on #305
@decebals Where is your sense of adventure?  ;)

So how would you like to proceed?  Do you want to split out modules into an extras repo?

[2016-08-23 18:21] decebals commented on #306
By the way, I updated the SNAPSHOT version on Sonatype.

[2016-08-26 19:07] robertoestivill commented on #277
https://github.com/TechEmpower/FrameworkBenchmarks/pull/2244

[2016-08-26 20:17] decebals commented on #277
@robertoestivill Very good work!
Your code is clear and have a simple structure. Maybe we can improve a little bit the performance changing some settings in the web server or the template engine, adding some index in the database, but it's another story.
Thanks for your contribution!

[2016-08-26 20:18] decebals commented on #305
@robertoestivill Can we close this issue?

[2016-08-26 20:23] decebals commented on #277
@robertoestivill  I think that the link to Pippo is wrong in https://github.com/TechEmpower/FrameworkBenchmarks/pull/2244#issue-173522204

[2016-08-26 20:44] robertoestivill commented on #305
@decebals Just tried the fix. No exceptions. Templates are found just fine in fat-jars and IntelliJ is also locating them correctly.
Closing.

[2016-08-26 20:44] #305 closed

[2016-08-26 20:53] robertoestivill commented on #277
@decebals absolutely. The main reason for passing in the server, was to be able to fine tune each specific implementation. I do not know much about that, but I can do some research in a few days.

Regarding the database, I don't think we can do much because Techempower is the one that supplies them. We don't have control over it, we just connect to it under a fixed set of parameters and schemas. I

[2016-08-26 22:22] decebals commented on #277
A little bit out of topic, in your code I see [BenchmarkTests](https://github.com/robertoestivill/FrameworkBenchmarks/blob/52ba4059e32397eee8ca81d1fa1f65cc64bcb8a9/frameworks/Java/pippo/src/test/java/ro/pippo/benchmark/BenchmarkTests.java) that uses [OkHttp](http://square.github.io/okhttp/) as HTTP client. I didn't know about this library.
Pippo comes with some unit tests in [RequestTest](https://

[2016-08-28 19:59] robertoestivill commented on #277
OkHttp is a very well known (almost de-facto I would say) http client for Android for various reasons.
1. Early versions of Android had a lot of issues with it's implementation/upgrades of apache httpclient and java urlconnection.
2. Plays very well with [Retrofit](http://square.github.io/retrofit/).
3. It has a very nice API (even without retrofit)
4. First http client available for android with

[2016-08-31 09:27] traycho opened #307 "RouteContext redirect to external server"
I would like to forward some requests (exactly as they are) to external server.
I see RouteContext provides redirect with path and parameters but it would be nice to have something like.

RouteContext#redirect(String path,Request request)

Is there anything else existing in pippo that could be used ?

Thanks in advance

[2016-08-31 09:47] #307 closed

[2016-09-03 08:16] munendrasn opened #308 "Working with pippo test"
Hi,
I am new user of Pippo.

Using `pippo-test` for writing test cases
I referred `pippo.ro` couldn't find any documentation for pippo tests.

Below is the snippet.
[code]

Running tests gives me this.
I am unable to figure it out the reason. Need some help
[code]

[2016-09-03 18:47] decebals commented on #308
I feel that it's a bug introduced by https://github.com/decebals/pippo/commit/7afec711526f4a0bbeb4dee000e48f08f87ce66f.
I will try to fix it.

[2016-09-05 20:30] #308 closed

[2016-09-05 20:31] decebals commented on #308
Sorry for delay.
If everything is OK I can release a new version (9.0.1). I updated the SNAPSHOT version.

[2016-09-06 16:38] munendrasn commented on #308
Thank you
I will run tests with updated snapshot.
Will notify you about the results.

[2016-09-07 06:37] munendrasn commented on #308
Im getting Dependency not found Error while using the snapshot

[2016-09-07 07:13] decebals commented on #308
Can you give me more info (a stacktrace or something else)?

[2016-09-07 07:27] munendrasn commented on #308
Added this.
[code]
[code]
Also, at https://oss.sonatype.org/content/repositories/snapshots/ro/pippo/pippo-test/
Only `0.10.0-SNAPSHOT` available

[2016-09-07 07:39] decebals commented on #308
See in the documentation [Maven](http://www.pippo.ro/dev/maven.html) section.
The correct SNAPSHOT version is `0.10.0-SNAPSHOT`.

[2016-09-07 07:42] munendrasn commented on #308
Oh..my bad
Apologies and Thank you :)

[2016-09-07 07:48] munendrasn commented on #308
Used the `0.10.0-SNAPSHOT` it works fine.

[2016-09-07 08:03] decebals commented on #308
By the way, it's an old [issue](https://github.com/decebals/pippo-site/issues/23) created by me on pippo-site project (documentation) related to lack of documentation for pippo-test. If I have a little time today I will add a new section (Testing) about this subject.
Also, another (custom) approach for testing Pippo routes is to use OkHttp as Http client. If you are interested by this approach you

[2016-09-07 08:06] munendrasn commented on #308
Sure, i will look into it.
Thanks again for your prompt reply

[2016-09-07 10:38] munendrasn commented on #308
@decebals ,
with `0.10.0-SNAPSHOT` while starting main pippo server,
[code]

But with `0.9.0` it works fine. but get previous error while running tests

[2016-09-07 13:24] decebals commented on #308
Fixed. Please [build](http://www.pippo.ro/dev/how-to-build.html) Pippo on your machine and tell me if the modification solves the problem. Thanks!

[2016-09-07 13:41] munendrasn commented on #308
Build failed
[code]

[2016-09-07 15:45] decebals commented on #308
Something is wrong with your environment but I don't have time to see where is the problem. I published a new SNAPSHOT.

[2016-09-07 20:44] decebals commented on #308
Added a new section [Testing](http://www.pippo.ro/doc/testing.html) in documentation.

[2016-09-08 06:11] munendrasn commented on #308
@decebals, able to build pippo.
Also, tests are successfully run using `0.10.0-SNAPSHOT`

[2016-09-10 09:19] anantheshadiga opened #309 "ParameterValue toList functionality discrepancy"
I will have input request parameters like the following

&field=A&field=B&filter=age:[10 TO 20]

I am using `toList` method to get the parameters in a List of String. This works fine if i have same parameter name repeating 'N' number of times, which i do get as List of String. But in case of `filter` parameter in the above example, which has only one parameter, it blindly deletes the `]` character

[2016-09-10 13:09] gitblit commented on #309
It's so you can encode a list as a single parameter.

    MyList=[1,2,3,4,5]

[2016-09-10 13:20] anantheshadiga commented on #309
Is it okay to add a getter for the variable `values`(https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/ParameterValue.java#L47),  So that we can call `toList` method only if the `values.length > 1`, else we could use `toString` method.

[2016-09-11 07:21] anantheshadiga commented on #309
Thanks @decebals , How do i get the updated code?

[2016-09-11 20:25] decebals commented on #309
Build yourself the snapshot version or use the SNAPSHOT version.

[1] http://www.pippo.ro/dev/how-to-build.html
[2] http://www.pippo.ro/dev/maven.html

[2016-09-12 10:22] anantheshadiga commented on #309
I have tested with the SNAPSHOT build, this is working as expected. Thanks for the help

[2016-09-12 10:22] #309 closed

[2016-09-12 11:03] anantheshadiga opened #310 "MongoDBSessionDataStorageTest is failing"
While running test in my local, when the port 27017 is already running, the test fails. This because test runs on the hardcoded port which will lead for the failure.

[2016-09-12 11:08] decebals commented on #310
Do you say that port 27017 is already take it on your machine (you have Mongo installed)? I suppose that this error appears when you build Pippo.

[2016-09-12 11:35] #310 closed

[2016-09-15 11:00] SergiX44 opened #312 "Pippo 0.9.0 Undertow NullPointerException when changing webserver settings"
As a title, after upgrade to 0.9.0, the application crash with a nullpointerexception using undertow webserver:

This is a part of code:
[code]

The stacktrace:
[code]

If i rollback the pom to 0.8.0, it work correctly.

[2016-09-15 11:04] anantheshadiga opened #313 "(discussion): Correct way of loading resource in Context"
I have a resource that needs to get initialized before the server starts up. If the application fails to connect to the resource, I am expecting the server should not start up. What is the right way of loading resource using Pippo framework?

[2016-09-15 11:08] anantheshadiga commented on #312
This issue has been already mentioned in #308 , You need to use 0.10.0-SNAPSHOT which will solve your issue.

[2016-09-15 11:52] gitblit commented on #313
That depends on how you are writing your Pippo app.  For example, if you are using the embedded server you might initialize and inject your resource into `Application` either before `new Pippo()` or `pippo.start()`.

If you are deploying a WAR then you'd have to do it in an `Application` subclass - but you couldn't stop the container from starting.

[2016-09-15 12:20] anantheshadiga commented on #313
Is it not better to get the support from Pippo app to initialize the context?

[2016-09-15 12:58] gitblit commented on #313
When you say *Context* are you referring to `ro.pippo.core.route.RouteContext` or something else?

[2016-09-15 13:00] decebals commented on #312
It's a critical issue. Today I will release a new version (9.0.1) that contains the fix. Thanks @anantheshadiga for your comment.

[2016-09-15 13:16] uknth commented on #313
I believe he is looking for some sort of notification on startup, something like ServletContextListener.

[2016-09-15 13:26] decebals commented on #313
First, we must to understand the problem. Maybe a concrete use case will help us to understand what you try to achieve.

[2016-09-16 10:03] SergiX44 commented on #312
Fixed with last release, thanks!

[2016-09-16 10:03] #312 closed

[2016-09-16 12:51] anantheshadiga commented on #313
I was talking about the [initialContext!](https://tomcat.apache.org/tomcat-7.0-doc/jndi-resources-howto.html), where we can create the resource and initialize the resource object in the JNDI service. As this J2EE standards can we have the support from the Pippo app, where we add series of Resources.

[2016-09-16 17:13] decebals commented on #313
You can set the server used by Pippo via `setServer(WebServer server)` method. So, a typical Pippo application start using below code:
[code]

When you want to come with a particular server you can use something similar with:
[code]

where `MyServer extends TomcatServer` for example.
In `MyServer` you can override some methods, in your case `internalStart` or `start`.
For example:
[code]

I see no

[2016-09-18 21:28] etemelkuran opened #314 "Being fan of Decebal Suiu"
Is it possible to be a fan of **_Decebal Suiu?_**

[2016-09-20 17:03] decebals commented on #254
I wish to finish the implementation of this feature. What you think? Do you see any drawback (speed, clarity, ...)? In your opinion is this feature valuable?
I think that the first benefice (is a simple one) of this feature is that it allows us to add a `RouteGroup` as a child for another `RouteGroup` and to resolve the routes from groups only at runtime (on compile routes).
For example. take a lo

[2016-10-03 07:28] munendrasn opened #316 "NullPointerException while fetching `Application.get.getPippoSettings()`"
I have added some constants in `application.properties`,
So, I am trying to fetch these constants using  `Application.get.getPippoSettings()`
Im getting NPE.

I don't if it is good to add the constants to `application.properties`
NPE at this line
[code]

[2016-10-03 09:10] decebals commented on #316
`Application.get()` returns not null only in the context of web layer (on a http request). It cannot be useful in a service (server side business layer). For a service you must to inject PippoSettings in that service.

[2016-10-03 09:53] #316 closed

[2016-10-04 07:49] #314 closed

[2016-10-04 12:04] gitblit commented on #314
I'm a fan but this issue is pointless.  ;)

[2016-10-04 13:14] decebals commented on #314
I think that someone else post these crappy messages (the man lost the control of the account).

[2016-10-04 13:19] etemelkuran commented on #314
no.

[2016-10-04 13:20] decebals commented on #314
:) OK

[2016-10-04 13:24] etemelkuran commented on #314
at least you accepted me as a fan.

[2016-10-06 13:10] traycho opened #317 "Extend TemplateEngine"
Hello,

I will be nice to have a possibility of changing template file extension.
For instance with Pebble it is .peb . In case I want to change it to .html there is no direct way.

Probably if you provide a method in the interface Template engine like ,

String fileExtension();

then we could override it for our purpose.

Regards
Traycho

[2016-10-06 17:22] #317 closed

[2016-10-06 17:25] decebals commented on #317
Added `setFileExtension(String extension)` in `TemplateEngine`.
You can use `Application.getTemplatateEngine().setFileExtension(myExtension)` or prepare your custom `TemplateEngine` and call `Application.setTemplateEngine(myEngine)`.

[2016-10-06 21:44] vemacs opened #318 "Non-debug error handler"
The default error handler, https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/DefaultErrorHandler.java#L209, sends too much information for a production environment (it lists all the registered routes). There should be a standard error handler implementation that just delivers a 404 for applications not using a template engine.

[2016-10-06 22:25] gitblit commented on #318
Agreed.

[2016-10-08 16:30] #318 closed

[2016-10-09 18:50] vemacs opened #319 "Persistent sessions support"
Persisting sessions is important for smoothing out application restarts (so CSRF tokens are retained, etc...)

[Jetty does support persisting sessions to disk](https://www.eclipse.org/jetty/documentation/9.3.x/using-persistent-sessions.html), but it requires all the tedious XML configuration and things associated with it, and the current session persistence implementations in Pippo are all Redis-b

[2016-10-10 12:24] decebals commented on #319
I don't understand the above sentence, please explain.

We save the `SessionData` stored in different storage (http://www.pippo.ro/doc/session.html). The problem is that the servlet container (Jetty, Tomcat, ...) must somehow on start to load all these `SessionData`. Pippo is very flexible and modular so we can customize very well each instance of Servlet container, a method is described in https:

[2016-10-10 20:30] vemacs commented on #319
Oh wow, didn't know that was directly possible. Thanks.

[2016-10-10 20:30] #319 closed

[2016-10-20 13:47] decebals opened #320 "Register servlet/filter"
https://groups.google.com/forum/#!topic/pippo-java/kdDMJEHN6Bg

[2016-10-26 18:18] decebals commented on #320
Closed by PR #321

[2016-10-26 18:18] #320 closed

[2016-10-31 14:41] ucin opened #322 "Use mock with pippo-test"
Any idea how can we use mocking with `pippo-test`?
My goal is to mock my business api and dao during frontend test.

Perhaps as following,

[code]

[2016-10-31 15:18] decebals commented on #322
See http://www.pippo.ro/doc/testing.html (unless you've already read)

[code]

Sure you can use other methods to set the (mock) services in your `App` (setters, builder, factory, DI).

Did you encounter any problem?

[2016-11-01 00:28] mkhanal opened #324 "Stateless singleton controller to handle requests"
Issue:
Stateful controllers + server states with sessions  = Stateful servers

Details Issue:
Controller module is very handy as it takes away the boilerplate needed to parse parameters.

Following the layered architecture, if layers(controller/services/...) are singleton and stateless, then layers do not need to be instantiated for every route and thus never need to be garbage collected. This mak

[2016-11-01 08:45] decebals commented on #322
I don't understand. You can put many test methods (methods annotated with `Test`) in a class.
If you want to group your test methods in classes you can use a `BaseAppTest` like below:
[code]

Did what I said make sense to you?

[2016-11-01 08:57] ucin commented on #322
Yes it make sense. What I was considering is the fake implementation for test. In your sample code, is the `InMemoryUserService`.
Since there are many scenario, I need to create many `InMemoryService` implementation for test.

I'm thinking it will will be more easier if I can use Mockito to mock the `UserService` and implement test scenario in each testing method.

[2016-11-01 09:01] ucin commented on #322
Maybe something like this, but for the controller

[code]

[2016-11-01 10:24] decebals commented on #322
I understand what you want to achieve.

Maybe what you need is a possibility to access your `Application` instance in your test methods and to inject the mock services.

You can inject your mock services via setter method for each service (probably the best implementation is builder fluent - the setter method returns the application)

[code]

I can add a method `getApplication()` in `PippoRule` or

[2016-11-01 13:10] decebals commented on #324
Thanks for the detail explanation (excellent description of problem).
I don't know yet what approach is better:
- add the instance as singleton (route)
- add the class and the method name (controller)
- add the method reference (controller)
- add a kind of "metadata" - for example class name as string (route and controller)

All the variants have strengths and weaknesses.
For example, if I add the

[2016-11-01 14:08] ucin commented on #322
Yep, that is a workable solution @decebals! Thanks a lot. I'm fine with providing setter method for each service.
Using `OkHttp` also seem like good solution too.

Indeed, that's why I intend to use it for production application. Awesome project!

[2016-11-01 14:08] #322 closed

[2016-11-01 17:16] patrickdronk opened #325 "(Question) returning existing angular frontend"
Hi, I would like to start using this framework for a small project im working on. I already have an angular frontend. I want to serve this angular app from pippo on the base url e.g.
GET("/", (routeContext) -> routeContext.send("index.html")); (with the js and css files)

I've looked at the documentation but I don't seem to understand.
Can someone help me?

Thanks in advance

[2016-11-01 18:55] decebals commented on #325
Take a look at angular integration demo [1]. If you don't understand leave a comment

[1] https://github.com/decebals/pippo-demo/tree/master/pippo-demo-crudng

[2016-11-02 08:16] patrickdronk commented on #325
I looked at the demo. But the angular app in that demo is not what im looking for. I don't want to use the template language and angular at the same time and reder it server side, I just want it to serve a single html file with all it's dependencies (js & css) without having to use webjarsAt etc.

[2016-11-02 08:55] decebals commented on #325
First step is to take a look at `Static files` [1] section from documentation.
The approach with webJarsAt is optional of course. You can use the classic approach with put all static artifacts in a folder (default the folder is `public`) and split these artifacts in folders: `css` and `js`.

➤ tree src/main/resources/public
src/main/resources/public
├── css
│      └── style.css
├── fonts
└── js

[2016-11-03 05:26] patrickdronk commented on #325
This does answer my question!

Thank you very much!

[2016-11-03 08:28] decebals commented on #325
You are welcome!

[2016-11-03 08:28] #325 closed

[2016-11-04 19:47] gitblit commented on #324
@mkhanal Thanks for the suggestion.

Personally, I'm not convinced there is any measurable improvement in forcing controllers to be singletons.  I would also argue that singleton controllers make servers **more stateful** not less; controllers are currently one-time use so it is not possible to preserve or share controller state.

From the perspective of performance and memory consumption...  Yes

[2016-11-05 12:02] mkhanal commented on #324
@gitblit I'll think aloud here. Let me know what you think (maybe we have a roadmap forum for the framework, that will help me understand where we are headed).

I can see your point that if we can maintain performance and memory footprint even if the controllers are not singleton, then its good enough.
As long as the optimisation responsibility is not intentionally pushed to the project that is us

[2016-11-05 20:25] decebals commented on #324
With #326 (it's just a propose) you can use:
- non-singleton/prototype controllers (actual/default implementation)
- singleton controllers (via new `SingletonControllerFactory`)
- non-singleton & singleton controllers (you can specify optionally in `SingletonControllerFactory` what controller classes are singleton)

Example code for singleton controllers:
[code]

or directly
[code]

[2016-11-07 19:48] decebals commented on #313
@anantheshadiga Did you resolve the problem? With last commits you can add `WebServerInitializer`, `ServletContextListener`. Also the Application instance is injected automatically  in `ServletContext` so you can have access to different parts of application in ServletConext aware component (filter, servlet, listener).

[2016-11-08 21:10] decebals commented on #324
@mkhanal Is it OK for you?

[2016-11-08 21:16] decebals opened #327 "Improve PippoTest"
The idea is that I want to have the possibility to set a custom web server or to set the `pippoFilterPath`.

[2016-11-08 21:37] #327 closed

[2016-11-08 22:59] mkhanal commented on #324
This looks better.
From the framework roadmap perspective, how do we see things moving forward.
1. Should the framework take more control over the application like the way spring does. It instantiates beans for us.
1. Or do we want to let developer have more control, where developer will instantiate and wire the beans/classes, and run custom logic before they are hooked up to the framework.

We ar

[2016-11-24 14:21] munendrasn opened #328 "Is there default pagination in pippo?"
Im fetching data from db and since data can be very large, sending paginated response would be much better but I'm unable to find any documentation on pagination.

Is pagination supported in pippo? or should it be custom implemented?

[2016-11-24 17:15] decebals commented on #328
Pippo doesn't come with support for pagination. You should add the pagination info (pageNo and itemsPerPage, or other strategy) in request.

[2016-12-02 09:54] #328 closed

[2016-12-06 11:11] munendrasn opened #331 "Handling Accept-Encoding request"
How to handle `Accept-Encoding` header in request?
Suppose `Accept-Encoding=gzip` then, response header should contain `Content-Encoding=gzip`.
How to achieve this?
Just adding header to response wouldn't be sufficient. Is there way already available in `pippo` to handle this or custom implementation is required for this??

[2016-12-06 11:51] decebals commented on #331
Can you give me more details? Can you supply a code snippet to show me what you try to achieve?

[2016-12-06 12:05] decebals commented on #331
You can wrap the response's output stream in a `GzipOutputStream` and write to it.

[code]

For some servlet containers (like Tomcat) you can obtain this feature automatically using configuration (a parameter).

If my code snippet is OK for you, I can add a new method `setGzip` (or something similar) in `Response` class that set automatically the content type and wrap the output stream in a `GzipO

[2016-12-06 12:31] munendrasn commented on #331
I think creating a method in `Response` class would be better, so that this can be automatically set

[2016-12-06 12:56] decebals commented on #331
Can you confirm that the above snippet resolves your problem?

[2016-12-08 20:18] patrickdronk commented on #271
+1 would be awesome

[2016-12-09 11:39] decebals opened #332 "Relax the signature of WebServer.addListener method"
The idea is to support all Servlet's listeners:
- [javax.servlet.ServletContextListener](http://docs.oracle.com/javaee/6/api/javax/servlet/ServletContextListener.html)
- [javax.servlet.ServletContextAttributeListener](http://docs.oracle.com/javaee/6/api/javax/servlet/ServletContextAttributeListener.html)
- [javax.servlet.ServletRequestListener](http://docs.oracle.com/javaee/6/api/javax/servlet/Ser

[2016-12-09 19:59] #332 closed

[2016-12-12 21:43] decebals commented on #331
My idea here is to supply an out of the box solution, something that is transparent for end user/developer and that could be implemented via [HttpServletResponseWrapper](http://docs.oracle.com/javaee/6/api/javax/servlet/http/HttpServletResponseWrapper.html) or by introduction of a new `ResponseWrapper` concept.

[2016-12-13 09:52] munendrasn commented on #331
Apologizes for the delayed response. The above snippet solved my problem.
Instead of introducing new `ResponseWrapper`, this can be handled in `Response` class right??
To handle it in `Response` class,  access to `request` is needed.

[2016-12-13 10:39] munendrasn commented on #331
I think your idea is introduce `ResponseWrapper` something like in this [link](http://tutorials.jenkov.com/java-servlets/gzip-servlet-filter.html) right?

[2016-12-13 11:40] decebals commented on #331
Yes, something like that.

The idea is to inject `GzipOutputStream` directly in `HttpServletRequest` (via `HttpServletRequestWrapper.getOutputStream` method) if the request contains `gzip` in `Accept-Encoding`, to set `gzip` in `Content-Encoding` in HttpServletResponse` and to do nothing Pippo's Response (gzip is transparent). So all responses will be "gzipped" out of the box.

[2016-12-13 11:52] munendrasn commented on #331
I think this would be awesome solution

[2016-12-15 14:38] decebals commented on #331
I merged the PR that comes with an out of the box support for `gzip`. Also I created a new SNAPSHOT. Please test the modifications using your application and let me know if you encounter any problems.

[2016-12-15 17:02] decebals commented on #237
I will try to [move forward](https://groups.google.com/forum/#!topic/pippo-java/rclBFE-bc-U) this feature. I hope that this time will be lucky :smile:

[2016-12-16 10:36] munendrasn commented on #331
@decebals , `gzip` content-encoding is working as expected. But regression has occured due to this. No response is getting committed. With custom errorHandler, it is sending content 2 time

[2016-12-16 15:37] munendrasn opened #335 "Wrong content-type in the response"
[code]
In this case, response content-type would be `text/html`. It is because, in `Response` class, `getHeaderMap()` stores all added headers and adds to `httpServletResponse` only when `finalizeResponse()` is called.
In the above case, `finalizeResponse` method is never called.

Possible solutions:

- expose a `getWriter()` method in `Response` class to fetch `writer`
[code]
-  instead of adding

[2016-12-16 16:16] decebals commented on #335
For writing an xml as response, I use
[code]

Your approach is too low in my opinion.

Sure, it's a bug but this situation appears because you want to bypass the `Response` wrapper and to use directly the raw, `HttpServletResponse`.

Probably the quick fix is to add a new method `getWritter()` in `Response` with an implementation similar with `getOutputStream()` (call on `checkCommitted`, `finaliz

[2016-12-16 16:24] munendrasn commented on #335
@decebals, I also agree with you. Better approach would be using `xml()` or any other content method but in some-cases , setting content-type is required using `setHeader()`.
I think exposing `HttpServletResponseWrapper ` would be better approach. Also, to avoid bypassing   `Response`, `get HttpServletResponseWrapper()` could be removed.
For now, [fast fix] would be too add `getWriter` method. If

[2016-12-16 16:24] munendrasn commented on #331
@decebals, Is there any update on this??
Thank you in advance

[2016-12-16 16:33] decebals commented on #335
You can send a PR with `getWriter` method. Please check first that this method resolve your problem. Thanks!

[2016-12-16 16:34] decebals commented on #331
I will try to test on demo application.

[2016-12-16 17:31] munendrasn commented on #335
I tested it in application after adding `getWriter`, it is working. Raised PR #336

[2016-12-16 22:25] decebals commented on #331
I think that now, the code is OK. The idea is that you must finish the `GZipResponseWrapper` (call `finish` method) but the big problem is where to call this method. Initial I tried to finish the response `onPostDispatch` using a `RoutePostDispatchListener` but wasn't OK. After this, I tried to call this function at the end of `RouteDispatcher.onRouteDispatch` method but after some elaborated test

[2016-12-17 02:21] maurits150 commented on #306
Thanks for the fixes so far. This issue is unfortunately still present when encoding JSON data using pippo-jackson. (tested 1.0.0). When using pippo-gson there are no problems. But I really wish to use jackson.

Code to replicate:

[code]

Output:
[code]

[2016-12-17 02:26] maurits150 commented on #306
Actually when I'm encoding the jackson object using gson (ugly but just for testing) there are also issues.
So I guess it's something higher up in the chain that handles the different encoding types.

Output of jackson object using pippo-gson:
[code]

[2016-12-17 04:31] munendrasn commented on #331
@decebals , I have tested new code..the issue is resolved

[2016-12-17 17:07] #335 closed

[2016-12-17 17:14] decebals commented on #306
I will take a look but it's not clear for me what you try yo achieve. Show me some code (a [quickstart](http://www.pippo.ro/dev/quickstart.html) project will be perfect).

[2016-12-19 13:22] #331 closed

[2016-12-24 18:02] decebals opened #337 "Cannot run the MemCached unit tests"
See https://github.com/decebals/pippo/pull/334#issuecomment-267345437 for details.

[2016-12-24 18:03] decebals commented on #337
Probably the fast solution is to comment the MemCached unit tests.

[2017-01-03 13:15] munendrasn opened #338 "Consistency in Parameter Value conversion"
For following url, `example.com?q=&format=json`

while converting q to different data types, response would be as follows
[code]
Shouldn't `toList()` return empty list??

This is because in `toList` method in `ParameterValue.java`,  only null check is done.
It would be better to check for this condition also

[code]
This would return `defaultValue` (in this case, empty list).  or is there a reason

[2017-01-04 07:42] decebals commented on #338
Probably the correct behavior for your example (`example.com?q=&format=json` and `routeContext.getParameter("q").toList()`) is to return an empty list.

[2017-01-04 08:05] munendrasn commented on #338
@decebals I do agree on that.
Even for `toSet()` it should return empty set.
Should I create PR for this one??

[2017-01-04 08:18] munendrasn commented on #337
@decebals, Is it possible to release a minor version like `1.0.1` by commenting the MemCached unit tests??
Releasing a minor version would be really helpful for me since i require gzip support and using snapshot in production is not a good idea.

[2017-01-04 09:38] decebals commented on #338
@munendrasn Please

[2017-01-04 09:40] decebals commented on #337
@munendrasn Sure, no problem.

[2017-01-04 16:28] #338 closed

[2017-01-04 16:44] #337 closed

[2017-01-05 10:19] decebals commented on #337
@munendrasn Version `1.1.0` is available on Maven Central Repository.

[2017-01-05 12:38] 2beers opened #340 "Could not locate the default messages resource 'conf/messages.properties'"
Hello. I'm new to Pippo. I just checked the errors log and I get this:

[code]

My application.properties files is located in the working directory of my application and has the following content:
[code]

I have created both files in conf folder which is also in the working directory of my application.

Am I doing something wrong?

[2017-01-05 13:42] decebals commented on #340
The classic layout is [this](https://github.com/decebals/matilda/tree/master/src/main/resources/conf).
The line:
{{{
include = conf/messages.properties, conf/messages_en.properties
}}}
it's a bit strange/uncommon for me.
File `application.properties` is only for settings. Directive `include` allows you to split this file in many much small settings files (put settings for a category/group in separ

[2017-01-05 13:48] 2beers commented on #340
Oh. I understand now.  I removed the `include` line but I'm still getting the error `Could not locate the default messages resource 'conf/messages.properties'`
The file exists in that folder.

[2017-01-05 14:03] decebals commented on #340
I think that you can ignore that error, your application should run OK. My impression is that I saw it also on demo some times ago.
Please confirm me that your application runs OK. I will take a look to see why this error message appears.

[2017-01-05 14:25] 2beers commented on #340
On this code:
[code]

it prints:
[code]
I have set `pippo.welcome = Welcome!` in `messages.properties` and `messages_en.properties`
Other than this, the app is working great.

[2017-01-05 15:01] decebals commented on #340
The result is OK if your url request doesn't contain a `lang` query parameter (similar with `?lang=RO&...`).
If you want something "out of the box" you should use [RequestLanguageFilter](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/route/RequestLanguageFilter.java). Put this filter in front of your routes like this:
[code]

I see now that the name `RequestLa

[2017-01-05 15:34] 2beers commented on #340
I see your point, but even if language is null this
`message = routeContext.getApplication().getMessages().get("pippo.welcome", routeContext);`

should return `Welcome!` and not `pippo.welcome` . Or am I missing something?

[2017-01-05 17:32] decebals commented on #340
The message key (pippo.welcome) is returned by `Messages.get(String key, RouteContext routeContext)` only if the key does not exist in the messages resource. See [this line of code](https://github.com/decebals/pippo/blob/f143f3172933d35c50265e039323ff8dc3a03dce/pippo-core/src/main/java/ro/pippo/core/Messages.java#L120) for more details.
This means that really Pippo doesn't find your messages files

[2017-01-05 17:37] decebals commented on #340
If say in first post that

Can you double check that you have `conf/messages*.properties` in your out folder (`target/classes` for maven projects)? Maybe your IDE doesn't copy the messages files from `src` to `class` on the compile action.

[2017-01-05 18:13] 2beers commented on #340
You're right. I needed to copy `conf` folder to `target/classes`. Now is working.

If I pack the entire app in an executable  jar, do I need to place `conf` folder in the folder from where I'm running the jar?

Also is there a way to disable `application.languages` from java api, so it doesn't throw an error if I'm not adding the line in `application.properties` file?

[2017-01-05 18:50] decebals commented on #340
If you create an executable jar, you must include `conf` folder (with all files) in that jar.

No. I will think a solution.

Do you want to create an internationalized application or not?

By the way, if you want to use version `1.2.0-SNAPSHOT` you have a new method `RouteContext.getMessage` then can help you to write few code.

[2017-01-05 20:58] 2beers commented on #340
Thanks for you answers.

Does this mean I can change the config file while the app is running? I'm asking this questions because I want to familiarize with the library. What I can and can't do

[2017-01-06 11:41] decebals commented on #340
You cannot change the messages file(s) while the app is running. All the messages are keep in a [cache](https://github.com/decebals/pippo/blob/f143f3172933d35c50265e039323ff8dc3a03dce/pippo-core/src/main/java/ro/pippo/core/Messages.java#L50).

[2017-01-13 03:55] Avarel opened #342 "Deploying a Pippo webapp on a Debian server"
Hello everyone,
I recently got into learning web frameworks. I'm currently testing out Pippo and developing a web-app using it. However, I seem to not be able to bind the Pippo/Jetty server to listen to port 80, while other port works fine (3000).

![](https://i.gyazo.com/666eb61a9f62cf87165588303fc8e358.png)

Would someone point me in the right direction to deploy this?

[2017-01-13 04:07] decebals commented on #342
I know that you cannot open a port below 1024 without admin privileges. Please try to run your application with sudo.

[2017-01-13 04:18] Avarel commented on #342
[code]

The response when I ran ` sudo java -jar PlaygroundSpark-1.0-SNAPSHOT.jar`. Still does not seem to work.

[2017-01-13 04:26] decebals commented on #342
Can you run the application in debug mode (with -Dpippo.mode=dev on command line) to have more info?

[2017-01-13 04:32] Avarel commented on #342
[code]
Not sure why it still says PROD.

[2017-01-13 04:40] decebals commented on #342
You must put -D... after java world.
Nevermind, your issue it's not about Pippo. Maybe below link [1] can help you to resolve this problem.
In production you should use a web server like apache or nginx that runs on port 80 in front of your application that runs on 8338, for example.

[1] http://serverfault.com/questions/112795/how-to-run-a-server-on-port-80-as-a-normal-user-on-linux

[2017-01-14 03:35] Avarel commented on #342
The Nginx solution seemed to work for me in that link, thanks!.

[2017-01-14 03:35] #342 closed

[2017-01-15 16:57] Avarel opened #343 "Jade and CSS pre-processor"
I'm trying to use the SASS CSS pre-processor with jade templating, however it seems that Pippo does not compile the Sass file into CSS.

The Jade code I tried:
`link(href=pippo.publicAt('sasscss/index.sass'), rel='stylesheet', type="text/css")`
`link(href='sasscss/index.sass', rel='stylesheet', type="text/css")`
`link(href='sasscss/index.css', rel='stylesheet', type="text/css")`

Directories and s

[2017-01-16 11:31] decebals commented on #343
Did you read [CSS pre-proecessors](http://www.pippo.ro/mod/css-preprocessors.html) section from documentation?
Did you see the [demo](https://github.com/decebals/pippo-demo/tree/master/pippo-demo-css) application?

[2017-01-16 16:12] Avarel commented on #343
Yes, I did. However, it seems my problem is that the Sass compiler does not compile Sass files but only SCSS files (after I translated my CSS to SCSS), is this intended?

[2017-01-16 19:25] decebals commented on #343
Internally, _pippo-sasscompiler_ uses [vaadin-sass-compiler](https://github.com/vaadin/sass-compiler). I don't know to much about this library. In Pippo the whole integration is in a simple single class [SassResourceHandler](https://github.com/decebals/pippo/blob/master/pippo-css-parent/pippo-sasscompiler/src/main/java/ro/pippo/sasscompiler/SassResourceHandler.java).

[2017-01-17 17:25] Avarel commented on #343
After digging around on the developer console, I found that compiled CSS is not subject to the same treatment as public resources; they are cached while public resources have -ver-xxxxxxx appended to their file names. Is this the intended behavior? (Just asking; since settings in the developers disable the cache)

[2017-01-17 17:41] decebals commented on #343
[SassResourceHandler](https://github.com/decebals/pippo/blob/master/pippo-css-parent/pippo-sasscompiler/src/main/java/ro/pippo/sasscompiler/SassResourceHandler.java) is a contribution from @danjee. The implementation is OK from my point of view. In `dev` mode (-Dpippo.mode=dev) it's a good practice to disable the caches from modules (templates, preprocessors, ...).
The demo says that you must add

[2017-01-18 04:05] Avarel commented on #343
Alright so accessing directly at `'sasscss/index.sass'` solved the problem. However, I switched to the LESS plugin because it seems to have fewer problems than the SASS one currently. All in all, thanks for your help.

[2017-01-18 04:05] #343 closed

[2017-01-22 17:01] vemacs opened #344 "Helper method in Response for setting filename"
I'm currently using this code in an application when I need direct access to the response OutputStream (to reduce overhead and avoid blocking Jetty when dynamically generating files, etc...):

    ctx.getResponse().header("Content-Disposition", "attachment; filename=\"" + fileName + "\"");

It would be nice to have a convenience method that takes in fileName as a parameter and sets the header, as

[2017-01-22 17:07] decebals commented on #344
What about [Response(fileName, input)](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Response.java#L952)?

[2017-01-22 17:09] vemacs commented on #344
I am currently writing directly to the OutputStream with a ZipOutputStream. I tried implementing this with a PipedInput/OutputStream but it didn't function properly.

[2017-01-22 17:41] decebals commented on #344
Pippo works out of the box with GZip on output stream (https://github.com/decebals/pippo/pull/333).

[2017-01-22 17:51] decebals commented on #344
Method `Response.file(fileName, input)` uses [IoUtils.copy(input, output)](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/util/IoUtils.java#L45) to copy bytes from input stream to output stream (using a 1024 bytes buffer).

[2017-01-22 18:23] vemacs commented on #344
I am not talking about gzipping arbitrary content to the client. I am talking about sending ZIP archives with multiple files using the DEFLATE algorithm to the client without hitting the disk or using unnecessary computation, which neither of those do.On Jan 22, 2017 11:51 AM, Decebal Suiu <notifications@github.com> wrote:Method Response.file(fileName, input) uses IoUtils.copy(input, output) to co

[2017-01-22 18:47] vemacs commented on #344
<3

[2017-01-22 18:47] #344 closed

[2017-01-25 20:27] dunsunik opened #345 "New controller and routing system ignores global request interceptors"
1. Whenever I annotate my action method with more then 1 route annotation for example @GET("") and @PUT("") only the first one defined is actualy enabled and executed.

2. I tried to create some basic type of interceptors for example one annotation @JustAtest that is placed on my controller class and a second one annotation @Required that is placed on an action method.
When I annotade my controlle

[2017-01-25 20:48] dunsunik commented on #345
Bug 3) has been fixed. At least it seems so.

Anyways I think there needs to be a better handling of interceptors.

Whenever I annotate my Controller class with an interceptor and some action method as well both of them should be executed. First should be executed action interceptors, then all class interceptors and base class interceptors.

Thank you

[2017-01-28 20:29] decebals commented on #345
When I annotade my controller class with @JustAtest and some of my action method with @Required only the @Required annotation is executed. Both of them should be executed right ?

I think that current implementation works well with your scenario. When a controller method is invoked the interceptors on method are executed and AFTER them the interceptors on class are executed.
Your interceptors are

[2017-01-28 22:02] dunsunik commented on #345
Yes sorry I know I forgot to announce it here :)

Anyways please is it possible to get newly developed route attributes either from a controller's action or filter ?

I can get list of routes using findRoutes or searchRoutes but it gets list of routes. I would like to get a specified 1 route that translated a request to a specified action method.

[2017-01-29 12:20] decebals opened #347 "Make the route available in RouteHandler"
A possibility to retrieve the route metadata (method, uriPattern , attributes, ...) in a `RouteHandler.handle` method.

[2017-01-29 12:23] decebals commented on #347
Resolved by commit 5350e79.

[2017-01-29 12:23] #347 closed

[2017-01-29 12:24] decebals commented on #345
@dunsunik

I think that #347 resolves your request.

[2017-01-29 12:29] decebals commented on #345
For now it's not possible but you have this workaround (use a common method for post and get methods):
[code]

[2017-01-29 12:36] dunsunik commented on #345
Yes that's how I do it now.

On Sun, Jan 29, 2017 at 1:29 PM, Decebal Suiu <notifications@github.com>
wrote:

[2017-01-29 12:38] dunsunik commented on #347
Yes thanks, waiting till it's available on a SNAPSHOT version.

Regards

[2017-01-29 14:28] decebals commented on #347
The new SNAPSHOT is available.

[2017-01-29 21:59] dunsunik commented on #345
Hey,

I have tested new method getRoute() that I call in my Authentication interceptor handler.
It returns a route but sadly attributes are no present on a route or better say do not contain my previously set key.
I set an attribute using a transformer (during an application startup). If I print attributes from within that transformer a set attribute is there. But it's not the case when gettting i

[2017-01-29 22:06] dunsunik commented on #345
When I print attributes from a controller's action method they there and a previously set key is there as well.
So there seems to be a problem that attributes are not accessible from within interceptor handler.

[2017-01-29 22:08] decebals commented on #345
Can you share the code from your transformer (or only the part that create the returned value)?

[2017-01-29 22:09] dunsunik commented on #345
[code]

[2017-01-29 22:29] decebals commented on #345
Thanks. I found a possible bug at [this](https://github.com/decebals/pippo/blob/master/pippo-controller-parent/pippo-controller/src/main/java/ro/pippo/controller/ControllerRouteHandler.java#L344) line. When I create the virtual route for interceptor I doesn't pass the attributes from controller route and probably your espectation is to have  these attributes.
Probably it's a better solution to hav

[2017-01-29 22:36] dunsunik commented on #345
Well it might be. But still do you think that you need to have to different
routes when practically there just a one ?
I mean logically it would make a sense to return a very same route as you
get from a controller or better route that is filled with same attributes.

On Sun, Jan 29, 2017 at 11:29 PM, Decebal Suiu <notifications@github.com>
wrote:

[2017-01-30 07:14] decebals commented on #345
@dunsunik
Commit 84ea840 added controller route attributes to interceptor.

[2017-01-30 19:34] decebals commented on #345
@dunsunik I don't know if the interceptor is not enough in your case (without the route transformer). For example you can retrieve in interceptor route handler the controller method (via `routeContext.getRoute().getAttribute("__controllerMethod")`) and check if `ActivationNotRequired` annotation is present or not.

[2017-01-31 09:39] dunsunik commented on #345
Hey,

No it's ok.
Since your last commit everything seems to be working perfectly !

Thank you

On Mon, Jan 30, 2017 at 8:34 PM, Decebal Suiu <notifications@github.com>
wrote:

[2017-02-02 10:12] decebals opened #348 "Support attributes in RouteGroup"
The idea is to have the possibility to add some attributes (see `Route.bind`, `Route.getAttribute`) that are common for all the routes from group.

[2017-02-02 10:14] #313 closed

[2017-02-02 10:17] decebals commented on #340
Can I close this issue?
If you need to bypass (disable) the cache in development mode (or to create a flag in `Messages` class that allows you to disable the cache) please create a new issue.

[2017-02-02 10:22] decebals commented on #254
Resolved by #341.

[2017-02-02 10:22] #254 closed

[2017-02-06 03:16] ucin commented on #324
@decebals, will this included in next release? I use Pippo mostly for REST service, and always stateless.

[2017-02-06 19:03] decebals commented on #324
@ucin If you talk about `SingletonControllerFactory` then yes, the modification is already presented in last release.
If you talk about the possibility to add a controller instance (to have the full control of instantiation) and not the controller class, I don't say NO but we should find an elegant solution, non intrusive one.

Feel free to come with proposes. I am ready to help you with details a

[2017-02-07 09:14] uldall opened #349 "Changes to Response ignored in "runAsFinally"-filter on exception"
I have created the following small test application:
[code]
Which results in the following output when doing a GET on /hello/:
[code]

As the output shows the "/.*" filter is correctly called. The changes to the response is however ignored and so the HTTP headers are not added.

[2017-02-07 12:49] decebals commented on #349
I understand what you say. Is it important the response state in this case (throw error)?
When a route handler throws an exception (your case), the error handler is called and after this, all finally routes are called. You can see [here](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/route/RouteDispatcher.java#L164) the code. The error handler commits  the res

[2017-02-07 13:21] uldall commented on #349
What I am trying to achieve is to have a filter which will always add the no-cache HTTP headers. Errors or not. Is there a better way to achieve this?

Is seems a bit illogical that changing the Response sometimes works in the finally filters and sometimes doesn't.

[2017-02-07 14:04] gitblit commented on #349
Set the no-cache headers in a filter that runs before your handler rather than trying to set them after your handler.

[2017-02-07 18:39] decebals commented on #349
@uldall
Pippo doesn't reuse the `Request`, `Response`, `RouteContext` instances. On each request from browser/client, Pippo creates new instances for these types. I will try to improve the documentation.
As @gitblit says, you can achieve your objective using a "before filter" route.
It's enough to add below route as a "before filter" (a first route that precedes business routes)
[code]

[2017-02-09 16:31] decebals commented on #324
@mkhanal
What you say about #350? Is it what you search?

[2017-02-12 14:10] ucin commented on #324
Thanks @decebals. Yes I'm talking about `SingletonControllerFactory`. Any example on how to use it?

[2017-02-12 16:51] decebals commented on #324
@ucin The `SingletonControllerFactory` class is already present in last release. As example, you can use the snippet code from https://github.com/decebals/pippo/issues/324#issuecomment-258638359. Just set the controller factory to `SingletonControllerFactory`, via `ControllerApplication.setControllerFactory` method.
The next release comes with a more ambitious approach (see #350), you can pass the

[2017-02-13 19:29] #253 closed

[2017-02-15 01:43] mkhanal commented on #324
@decebals :1st_place_medal:

[2017-02-15 06:37] #348 closed

[2017-02-15 08:40] ucin commented on #324
Hi @decebals, I already following that but still the controller being initiated on every request.

[code]

and the controller

[code]

The constructor part always executed on every request.

[2017-02-15 19:59] decebals commented on #324
@ucin
I cannot reproduce the issue. Can you please try to use with the last **SNAPSHOT** (read [here](http://www.pippo.ro/dev/maven.html) about how to add SNAPSHOT in your pom.xml)?

[2017-02-17 12:07] #349 closed

[2017-02-20 18:44] #345 closed

[2017-02-20 18:45] #324 closed

[2017-02-20 18:47] decebals commented on #237
Done by #341.

[2017-02-20 18:47] #237 closed

[2017-02-22 04:27] danjee opened #351 "RxJava"
Hello,
What do you think about adding RxJava into the scene?

[2017-02-22 08:26] decebals commented on #351
How do you see this marriage from integration point of view?
What value brings RxJava for Pippo?

[2017-02-22 09:32] balamaci commented on #351
RxJava / Spring Reactor biggest value is when you have many asynchronous operation happening an you need a clear flow on how to handle the response. This ties to calling many microservices endpoints to service a user's request.
Short paranthesis RxJava is active in the Android land(with gui callbacks being the async ops) while for enterprise java developers I think Spring Reactor will be a bigger

[2017-02-23 04:52] danjee commented on #351
Also with jdk 9 they try to standardize this with the Flow API. Like Șerban said Spring 5 will add a bunch of new capabilities supporting this:
[Functional web framework](https://spring.io/blog/2016/09/22/new-in-spring-5-functional-web-framework)

[2017-02-24 14:41] #340 closed

[2017-02-24 14:45] #277 closed

[2017-02-24 14:46] #256 closed

[2017-03-03 07:54] decebals opened #352 "NotFound (CatchAll) route handler"
The idea is to have a `RouteHandler` that is called only if no route has been found for a request.
I think that are some good [workarounds](https://groups.google.com/forum/#!topic/pippo-java/1XdtxuULcCk) but probably an improvement in API is welcome.

I propose you to add a new method in `Application` class:
[code]

What you think, is this idea valuable?

[2017-03-03 15:51] gitblit commented on #352
👍 This is a great idea.

[2017-03-03 17:48] #352 closed

[2017-03-14 19:40] liias opened #353 "Two annotations named Param"
It's too easy to import wrong annotation from ro.pippo.core.Param instead of ro.pippo.controller.extractor.Param (ParamExtractor explicitly checks against the latter).

[2017-03-14 20:03] decebals commented on #353
We will find a solution. Thanks for reporting.

[2017-03-15 11:34] decebals commented on #353
I propose you to rename `Param` annotation from `ro.pippo.core` to `ParamField`. If you have a better name or a better solution, please let me know.

[2017-03-15 11:51] liias commented on #353
No objections as I don't use that annotation from core, so not sure where its used, thus no name preference from me.

[2017-03-15 15:38] decebals commented on #353
`Param` annotation from core is used in [Request](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Request.java#L243) when you wish to create/update a POJO object from the current request. I don't know how many people know about this feature and how many people use it.

[2017-03-15 18:15] #353 closed

[2017-03-16 22:02] decebals opened #354 "Add possibility in Controller to return the template rendered string"
The new implementation of `index` (from [ContactsController](https://github.com/decebals/pippo-demo/blob/master/pippo-demo-controller/src/main/java/ro/pippo/demo/controller/ContactsController.java)) could be:
[code]

The actual implementation of  `index` method is:
[code]

Please remark the return value of `index` method in both cases.

[2017-03-16 22:12] #354 closed

[2017-03-29 17:33] lambdaupb opened #356 "some bug"
https://github.com/decebals/pippo/blob/f143f3172933d35c50265e039323ff8dc3a03dce/pippo-core/src/main/java/ro/pippo/core/route/ClasspathResourceHandler.java#L37

[code]

Missing path normalization leads to a path traversal vulnerability.

I tested it in my own app and was able to retrieve `META-INF/` resource files via a manual GET request with `/.../META-INF/` inserted.

This is really web security

[2017-03-29 17:50] lambdaupb commented on #356
My apologies, I should have sent this via a private channel so this could be published with a fixed version ready to use.

But it seems impossible to edit the GitHub issue in a way that hides the information needed to abuse it. (https://github.com/isaacs/github/issues/37)
I have changed the title to something boring though.

[2017-03-29 19:04] decebals commented on #356
Thanks for reporting the problem! I will investigate the issue as much as possible.

[2017-03-30 11:09] paolog22 opened #358 "Can pippo work with spring boot ?"
thank you for this project.. i just want to know if pippo with work parallel with spring boot .
thanks

[2017-03-30 19:59] decebals commented on #358
It is not clear for me what means "work parallel".
Can you elaborate a little bit on this topic?

[2017-03-31 04:24] paolog22 commented on #358
@decebals sorry sir.. my question is .. can i use pippo withing spring boot. because i have a current project build with spring boot and i want to use some features of pippo .
thanks :)

[2017-03-31 06:04] decebals commented on #358
@paolog22
Spring Boot = Spring + Auto (Magic) Configuration via annotation
I think that it's possible with a little bit code.
Pippo comes with a good/nice support for Spring (see [doc](http://www.pippo.ro/mod/spring.html)).
If you want an out of the box support, then you should write a Spring Boot starter for Pippo. I think that it's not a difficult task.
If you want something lite (you don't want

[2017-03-31 09:49] #356 closed

[2017-03-31 09:58] decebals commented on #356
Ups, I committed on other branch (reloading) but now it's OK because I merged that branch on master. It's tricky when you work on multiple branches/features :smile:

[2017-04-02 16:25] paolog22 commented on #358
@decebals thank you sir

[2017-04-03 08:19] decebals commented on #358
Please let me know if you did it.

[2017-04-13 07:44] munendrasn opened #359 "Set Undertow max Parameter"
Using `pippo-undertow` in my project. I want to increase default `MAX_PARAMETER` limit.

Only way to achieve this is to extend `UndertowServer` and setting `serverOptions` in createServer.
Is there a better way to do this??

Probably like adding in `application.properties` and picking the value using `pippoSettings`.
Then we could set all serverOptions in `createServer()` itself

[2017-04-13 10:33] decebals commented on #359
Your approach is good.
Is it a possibility to use `application.properties` to define options and use `setServerOption` (or `setSocketOption`, `setWorkerOption`) from `Undertow.Builder` class.
We can use a prefix in application.properties, like:
[code]

In `UndertowSettings` you can add `getServerOptions` (`getSocketOptions`, `getWorkerOptions`) method|(s) that get all settings with prefix `underto

[2017-04-13 10:56] munendrasn commented on #359
I will try this approach and revert back to you with results

[2017-04-13 11:34] munendrasn commented on #359
Before trying out this approach, a small question. We would get `List<String>` from `PippoSettings.getSettings()` and convert them to `Options`. But we wont be knowing about the `option` type right??
Same would be true for Option value(both would be same)

For Example,
Consider this `application.properties` file
[code]
using PippoSettings.getSettingNames("undertow.server"), we would get both `MAX_

[2017-04-13 12:33] decebals commented on #359
You have right. I don't know for moment how to detect the option type. I don't know if http://atetric.com/atetric/javadoc/org.jboss.xnio/xnio-api/3.3.6.Final/org/xnio/Options.html helps.

[2017-04-13 13:09] decebals commented on #359
Another interesting class is [UndertowOptions](https://repository.jboss.org/nexus/content/unzip/unzip/io/undertow/undertow-core/1.0.14.Final/undertow-core-1.0.14.Final-javadoc.jar-unzip/io/undertow/UndertowOptions.html).

[2017-04-13 13:30] munendrasn commented on #359
That would be good idea. But Is it possible to handle this pippo itself as `UndertowOptions` is in `undertow`??

[2017-04-13 13:37] decebals commented on #359
I don't understand above sentence. Could you add more details?

[2017-05-02 14:49] AugustoEMoreira opened #362 "QuickStart install error"
When i run the command "mvn install", the below error is shown
i'm definitely not an maven user, so i'm a little bit lost
Thanks

[code]

[2017-05-02 16:55] decebals commented on #362
It is a good reason to use the SNAPSHOT version  instead of the last release  version (1.3.0) ?

[2017-05-02 17:48] AugustoEMoreira commented on #362
No, i'm just following the quickstart tutorial.
i changed the pom file to 1.3.0 and worked, thanks

[2017-05-02 17:57] decebals commented on #362
:+1: If you encounter any problem please use the [forum](https://groups.google.com/forum/#!forum/pippo-java).

[2017-05-02 17:57] #362 closed

[2017-05-05 16:32] 2beers opened #363 "Route OPTIONS"
Hello. Great library. Is it possible to have OPTIONS route as well? https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/route/Route.java

I find it to be useful on CORS requests

[2017-05-05 18:29] #363 closed

[2017-05-08 17:25] decebals commented on #275
Done. See #360.

[2017-05-08 17:25] #275 closed

[2017-05-08 17:26] decebals commented on #359
Did you find a solution?

[2017-05-08 17:28] decebals commented on #358
Can I close this issue? Did you find a solution?

[2017-05-09 02:45] jaytheking opened #364 "Is Pippo production ready"
Im looking at coverage for pip and its currently at 18% give or take. Im exploring a couple of micro frameworks to split our current monolith up. Ive looked at SparkJava, Jooby and now pippo is next on my list.

The other question is it possible to use gradle for building.

[2017-05-09 03:22] paolog22 commented on #358
@decebals  yes please. thanks awesome.. love you man :D

[2017-05-09 07:05] #358 closed

[2017-05-09 08:27] decebals commented on #364
@jaytheking

Yes, you are right. The coverage is a problem and this because they are many modules (see pippo-sesion-parent for example) that are less or more used. The last two releases come with support for Hot reloading and Web socket and for next releases I don't have in pipe a new major feature and probably it's a good time to work on coverage. On the other side, if you take a look on the issu

[2017-05-09 08:36] jaytheking commented on #364
I only know the basics of gradle but prefer it over maven as i feel maven is heavy. So basically if i can just import the dependencies like i would in maven and dont have to worry about a maven specific build system then i think it should be simple to make one for the project.

[2017-05-09 09:04] decebals commented on #364
I think that the build system should be transparent for you (the user of library). When I add/fix something I publish a new SNAPSHOT version. In this mode you are up to date and you are not forced to build Pippo  on your machine or to wait the release version.

[2017-05-09 09:11] jaytheking commented on #364
@decebals Yeah agreed. Im just looking at the Maven build and its straight forward enough to do a Gradle script. Appreciate you getting back to me as fast as you did.

[2017-05-23 21:36] 2beers opened #365 "routeContext redirect in the same RouteGroup"
I have this location: `localhost/v1/me`
Basically in` V1Routes extends RouteGroup` I have `addRouteGroup(new MeRoutes());`

In `MeRoutes` I want to redirect a location `localhost/v1/me` to `localhost/v1/me/something`
Here is my code:

[code]

is not working it redirects to `localhost/something`

I have to do something like this

`GET("/", routeContext -> routeContext.redirect("v1/me/something"); )

[2017-05-25 08:06] decebals commented on #365
For the moment I don't see a possibility to avoid writing the full path when redirecting. The `Route` class contains `absoluteUriPattern` field (it's not visible outside) that contains the full `uriPattern` (including the route group path) but I don't know if it can help us.
If you see a modality/idea to avoid writing the full path when redirecting, please let me know.

[2017-05-25 09:38] 2beers commented on #365
I think an OK solution will be to have access to current route path

`routeContext -> routeContext.redirect(routeContext.getPath() + "something");`

or

[code]

[2017-05-25 11:16] decebals commented on #365
I think that you can use `redirect(String nameOrUriPattern, Map<String, Object> parameters)`  from` routeContext` (give a nice name to the referenced route ).

[code]

You can retrieve the current Route via routeContext with `getRoute()` (maybe it's useful for you in some cases).

[2017-05-26 10:16] 2beers commented on #365
Thanks. That seems to work somehow, but I think you have a bug.

If I use
`pippo.getServer().setPippoFilterPath("/api/*");`

I will redirect to this url
`http://localhost:8081/api/api/v1/me/something`

`api/api` is wrong there

[2017-05-26 10:36] 2beers opened #366 "Settings for routes ending with slash / to be the same as the routes wihtout"
Is there a setting that treats a path like this `localhost/test` and `localhost/test/` the same way?

So far I'm doing this
`GET("/test", routeContext -> {});` and `GET("/test/", routeContext -> {});`

Thanks

[2017-05-26 10:39] decebals commented on #365
@2beers Can you close this issue and create a new one with the content of your last comment?

[2017-05-26 10:40] decebals commented on #366
`GET("/test", routeContext -> {});` is similar with `GET("/test/", routeContext -> {});`

[2017-05-26 10:56] 2beers commented on #366
Just tested again. For me they are treated as 2 different rules
If I define this route
[code]
 and navigate to this `localhost/test/` nothing happens. It works only if I navigate to `localhost/test` without ending slash.

To make it work I need to add a secondary rule:
[code]

Am I doing something wrong?

[2017-05-26 11:02] 2beers opened #367 "Redirecting to named routes using setPippoFilterPath settings"
If I use
`pippo.getServer().setPippoFilterPath("/api/*");`

and try to redirect to a named route
[code]

It will redirect to an url by appending the _filter path_ to the path that already has _filter path_ included
`http://localhost:8081/api/api/v1/me/something`

`api/api` is wrong there

[2017-05-26 11:02] #365 closed

[2017-05-30 19:17] decebals opened #368 "Hot deployment doesn't work in Jetty"
![pippo-jetty-error](https://cloud.githubusercontent.com/assets/1248311/26600720/bff7f684-4585-11e7-828e-0820a26a49f7.png)

[2017-06-03 18:10] kiru opened #369 "Add PippoFilter as Guice Filter"
I would like to use Pippo with Guice, but not the way described here: http://www.pippo.ro/mod/guice.html
Instead I use the GuiceServlet, Gucie allows to configure all the filters and servlets without the need for web.xm ( expect for GuiceFilter), as described here: https://github.com/google/guice/wiki/ServletModule

I use the ServletModule from Guice and try to add the PippoFilter like this:

[2017-06-06 15:53] decebals commented on #366
Sorry for delay. I was in a mini vacation.
My idea is to preserve the actual behavior (`/users` and `/users/` are different) and to create a new `TrailingSlashHandler` class that should add or remove (a flag parameter in constructor) the slash character to or from the end of the request url. You can use this handler as a before filter (in front of all routes).
What you think?

[2017-06-06 15:54] decebals commented on #369
I was in a mini vacation. I will try a look and I will come back with a response/solution.

[2017-06-06 16:04] decebals commented on #369
@kiru
What you say about https://github.com/decebals/pippo/pull/323 and https://dzone.com/articles/pippo-and-jersey-jax-rs?

[2017-06-06 16:38] 2beers commented on #366
I also think this is a good idea, because sometimes I need those to be separate routes, however most of the time I don't and is annoying to define 2 routes that do the same thing.
Is the TrailingSlashHandler already implemented or it's something that's coming ?

[2017-06-07 09:12] decebals commented on #369
It's not a problem for me to add a a new `protected void setFilterPath(String filterPath)` method in `PippoFilter` (I will add this method asap) but I wish to understand more about Guice in web applications.
I will try to use Guice in one of my next web applications based on Pippo. In present, I don't use Guice in my projects but I think that Guice is a good DI library (for web applications, also)

[2017-06-07 18:41] #369 closed

[2017-06-07 21:15] decebals commented on #366
I create a new remote branch (https://github.com/decebals/pippo/tree/trailing_slash) with a possible implementation for `TrailingSlashHandler`. See https://github.com/decebals/pippo/pull/370 for details.

[2017-06-08 20:12] decebals commented on #366
Another option tested by me was to adjust the request path (add or remove trailing slash) and after this to forward the request with the new path to the next route from chain. The problem here was that the `Router.findRoutes()` was already called and the routes are retrieved based on the original request path. In conclusion is to late to modify the request path in a before filter route. We need a

[2017-06-09 07:30] kiru commented on #369
Hello @decebals

I had no time to response quicker.
I think ServletModule ist just a "wrapper" around ServletContext, in the sense that you can add your filter directly to ServletContext. Adding them via ServletModule gives you access to DI-features in your Filter/Servlet.

In your example (https://dzone.com/articles/pippo-and-jersey-jax-rs), you get your dependency from the ServletContext

    re

[2017-06-09 08:38] decebals commented on #369
Thanks for your explanation.

The reason is because I don't use a DI library in that demo and I need to "share" the `ContactService` from my application with rest application (built with Jersey JAX-RS).

See [PippoServlet](https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/PippoServlet.java).

I can take a look to see if I can do something in this direction. I use

[2017-06-09 08:54] kiru commented on #369
Awesome, I have not seen PipoServlet. Actually, that is what I've been searching for. Just added these to my servlet-bindings and it works as expected:

    serve("/*").with(GuicePippoServlet.class);
    bind(GuicePippoServlet.class).in(Scopes.SINGLETON);

I had to subclass PippoFilter, so I can inject the Application:

[code]

I saw that documentation, but it focuses on using Guice to Inject depe

[2017-06-09 09:02] decebals commented on #369
I am glad to see that your problem is resolved so easy :smile:

You are right.

If you encounter other problems, please let me know.

[2017-06-13 13:19] #366 closed

[2017-06-29 23:23] lorrin opened #371 "JettyRule with JettyServer hangs when multiple tests present"
I'm having trouble running more than one test method in a single JUnit test class. Sample code below.

`test1` passes, `test2` (which is identical) hangs at `startLatch.await();` in JettyServer (https://github.com/decebals/pippo/blob/release-1.4.0/pippo-server-parent/pippo-jetty/src/main/java/ro/pippo/jetty/JettyServer.java#L75)

[code]

[2017-06-30 08:20] decebals commented on #371
@lorrin Thanks for reporting!
It seems that is https://github.com/decebals/pippo/issues/273. I will take a look.

[2017-06-30 09:18] decebals commented on #371
@lorrin I cannot reproduce the issue.

![image](https://user-images.githubusercontent.com/1248311/27729320-2014577c-5d8e-11e7-9a87-683ff50f70d4.png)

Can you supply more information please?

[2017-07-01 00:03] lorrin commented on #371
@decebals , thanks for the quick follow-up! I've double-checked and I can reproduce inside both IntelliJ and the Maven command line.

Here's the `pom.xml` I'm using:
[code]

[code]
`mvn test -Dtest="JettyTest#test1` and `mvn test -Dtest="JettyTest#test2` both succeed, `mvn test` hangs, just like when I run in IntelliJ.

[2017-07-01 02:33] decebals commented on #371
I created https://github.com/decebals/pippo-371 project to have both the same base code.
The code runs OK on my machine (Ubuntu 16.04) from Idea IntelliJ(2017.1.4) and from command line:

![image](https://user-images.githubusercontent.com/1248311/27758516-5b900e00-5e1e-11e7-8a7d-468f52308d5d.png)

![image](https://user-images.githubusercontent.com/1248311/27758525-9c98babe-5e1e-11e7-8cf9-5c1fbc079

[2017-07-01 03:09] lorrin commented on #371
Very interesting! So I pulled your code and it behaves the same as mine. So it must be some machine-specific issue. FWIW, the hang on the command line looks like this:
[code]

I'll try to provide some more info on where the hang is from the IntelliJ debugger.

[2017-07-01 03:35] lorrin commented on #371
OK, I traced it:

First test, PippoRule.startPippo -> Pippo.start -> JettyServer.start, calls `startLatch.await()`. At time of call, count is 1. start had submitted `executor.submit(this::internalStart);`, that then runs server.start, startLatch.countDown(), server.join. Unblocks main thread.

Second test, when PippoRule constructor calls pippo.getServer, `server` is null, finds it via ServiceLoca

[2017-07-01 07:17] decebals commented on #371
I uncommented the line https://github.com/decebals/pippo/blob/master/pippo-test/src/main/java/ro/pippo/test/PippoRule.java#L93. The bug in pippo-core was fixed  when I implemented support for Hot Reloading.

I moved the test projiect to Pippo `1.5.0-SNAPSHOT`(to include the above modification). I added support for Travis CI in https://github.com/decebals/pippo-371. I see that build passing and the

[2017-07-01 07:51] decebals commented on #371
I revert the test project to Pippo 1.4.0 and the result from Travis CI is "build passing". I cannot reproduce the problem.

[2017-07-01 14:30] decebals commented on #371
In the end, I reactivated a simple workaround in a new [issue-371] (https://github.com/decebals/pippo/tree/issue-371) branch. It's a solution proposed in https://github.com/decebals/pippo/issues/273.

@lorrin If you have some free time, please check this solution:
[code]

Then, go to test project and change `pippo.version` to 1.5.0-SNAPSHOT.

[2017-07-01 23:40] lorrin commented on #371
That solves the problem! Was calling `server.join()` preventing the shutdown lifecycle from executing between tests?

[2017-07-03 07:43] decebals commented on #371
Great news.

Yes. For more information see https://github.com/decebals/pippo/issues/273#issuecomment-220683262.
I don't understand why on my machine or on Travic CI I cannot replicate the issue. Why other people that use Pippo don't have this problem?

I will merge the branch that resolves the problem.

[2017-07-03 16:03] decebals commented on #371
I created a new SNAPSHOT. Please use it until a new release.

[2017-07-12 15:46] munendrasn opened #373 "Request hangs on GET with content length header"
Whenever `content-length` is specified in request GET, request get blocked.
https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Request.java#L405 - to get body.
Call gets blocked at this line - https://github.com/decebals/pippo/blob/master/pippo-core/src/main/java/ro/pippo/core/Request.java#L405

on `reader.read(buffer)` - becoming blocking on IO calls.
I was using

[2017-07-12 16:06] 2beers opened #374 "HTTP PATCH"
Maybe not that important but you should add HTTP PATCH as well

https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/PATCH

[2017-07-12 16:16] decebals commented on #373
A quick start demo (or a code snippet) is welcome. I am curios to see the nature of this problem. Recently (see https://github.com/decebals/pippo/commits/master) I upgraded Jetty and Undertow to the last version. If you have some time please check with SNAPSHOT version.